---
layout: main
showChatBox: false
title: Travel Software Blogs
---

<div class="min-h-screen">
  <div class="max-w-screen-xl mx-auto relative pt-6 px-4 sm:px-6 lg:px-8 pb-24">
    <div class="text-center mt-16">
      <h1
        class="
          text-3xl
          leading-8
          font-extrabold
          tracking-tight
          sm:text-4xl
          sm:leading-10
        "
      >
        Travel Business Blogs
      </h1>
      <p class="mt-4 text-lg">
        Blogs covering how to manage and grow your travel business.
      </p>
    </div>
  </div>
  <div class="py-16 bg-white text-gray-900">
    <div class="max-w-2xl mx-auto">
      <ul class="space-y-8">
        {% for blog in blogs %}
        <li>
          <a
            href="{{ blog.url }}"
            class="
              block
              p-4
              sm:p-8
              hover:shadow
              transition
              rounded-lg
              hover:bg-gray-50
            "
          >
            <h3 class="text-xl mb-2 font-medium">{{ blog.title }}</h3>
            <p class="text-sm mb-2 text-gray-500 font-medium">
              {{ blog.date }} by {{ blog.author }}
            </p>
            <p class="text-gray-600 text-sm my-3">{{ blog.description }}</p>
            <p class="font-medium text-indigo-600 text-left text-xs">
              Read More &#8594;
            </p>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
