<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="preconnect" href="https://assets.sembark.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://www.google-analytics.com" />
    <link rel="assets" href="https://assets.sembark.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="version" content="{{ version }}" />
    <!-- fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap"
      rel="stylesheet"
    />
    <!-- fluid icon for Mac OS desktop app -->
    <link
      rel="fluid-icon"
      href="https://assets.sembark.com/images/logos/logo_512x512.png"
      title="Sembark"
    />
    <link
      rel="alternate icon"
      class="js-site-favicon"
      type="image/png"
      href="https://assets.sembark.com/favicons/favicon.png"
    />
    <link
      rel="icon"
      class="js-site-favicon"
      type="image/svg+xml"
      href="https://assets.sembark.com/favicons/favicon.svg"
    />
    <link
      rel="mask-icon"
      href="https://assets.sembark.com/favicons/favicon.svg"
      color="#1A202C"
    />
    <meta name="keywords" content="{{ keywords }}" />
    <title>{{ title }}</title>
    <meta property="twitter:title" content="{{ title }}" />
    <meta
      name="description"
      property="twitter:description"
      content="{{ description }}"
    />
    <meta property="twitter:site" content="{{ twitterUsername }}" />
    <meta property="twitter:creator" content="{{ twitterUsername }}" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:image:src" content="{{ ogImageUrl }}" />
    <meta property="twitter:image:width" content="1200" />
    <meta property="twitter:image:height" content="630" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:image:secure_url" content="{{ ogImageUrl }}" />
    <meta property="og:image" content="{{ ogImageUrl }}" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:site_name" content="{{ appName }}" />
    <meta property="og:url" content="{{ publicUrl }}" />
    <meta property="og:type" content="website" />
    <meta property="fb:app_id" content="{{ fbAppId }}" />
    <meta name="theme-color" content="#1A202C" />
    <meta name="apple-mobile-web-app-title" content="{{ appName }}" />
    <meta name="application-name" content="{{ appName }}" />
    <link rel="stylesheet" href="../styles.css" />
    <script
      src="https://assets.sembark.com/js/themed-favicon.js"
      defer
    ></script>
    <meta name="google-analytics" content="UA-169640999-1" />
    <!-- Google Analytics -->
    <script>
      (window.ga =
        window.ga ||
        function () {
          (ga.q = ga.q || []).push(arguments);
        }),
        (ga.l = +new Date()),
        ga("create", "{{ gaId }}", "auto"),
        ga("set", "anonymizeIp", true),
        ga("send", "pageview");
    </script>
    <script async src="https://www.google-analytics.com/analytics.js"></script>
  </head>
  <body class="font-sans">
    <block name="content"></block>
    <footer>
      <div class="max-w-screen-xl mx-auto py-16 px-4 sm:px-6 lg:py-24 lg:px-8">
        <div class="md:flex">
          <div class="max-w-sm mb-16">
            <img
              src="https://assets.sembark.com/images/icon.svg"
              alt="Logo"
              class="w-16 h-16 opacity-25"
            />
            <p class="pt-8 text-gray-500 text-lg">
              Helping travel businesses to grow using smart technologies.
            </p>
          </div>
          <div class="md:ml-16 flex-1 mb-16">
            <div>
              <h2
                class="uppercase text-sm text-gray-600 font-semibold tracking-wider mb-4"
              >
                Support
              </h2>
              <ul class="grid gap-4 text-gray-800 font-semibold">
                <li>
                  <a href="#pricing">Pricing</a>
                </li>
                <li>
                  <a href="https://docs.sembark.com">Help & Support</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="md:ml-16 flex-1 mb-16 hidden">
            <div>
              <h2
                class="uppercase text-sm text-gray-600 font-semibold tracking-wider mb-4"
              >
                Legal
              </h2>
              <ul class="grid gap-4 text-gray-800 font-semibold">
                <li>
                  <a href="#">Claim</a>
                </li>
                <li>
                  <a href="#">Privacy</a>
                </li>
                <li>
                  <a href="#">Terms</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="md:ml-16 flex-1 mb-16">
            <div>
              <h2
                class="uppercase text-sm text-gray-600 font-semibold tracking-wider mb-4"
              >
                Contact Us
              </h2>
            </div>
            <div>
              <svg
                class="w-6 h-6 inline-block mr-2 gray-800"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <title>Email</title>
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
                ></path>
              </svg>
              <a href="mailto:contact@sembark.com?subject=Demo%20Request">
                contact@sembark.com
              </a>
            </div>
            <div class="flex mt-2">
              <div class="mr-2">
                <svg
                  class="w-6 h-6 inline-block text-gray-800"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <title>Phone Number</title>
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z"
                  ></path>
                </svg>
              </div>
              <ol>
                <li>
                  <a href="tel:+918950392425">+91-8950392425</a>
                </li>
                <li class="mt-2">
                  <a href="tel:+919005505374">
                    +91-9005505374
                  </a>
                </li>
              </ol>
            </div>
          </div>
        </div>
        <div class="border-t pt-8 text-gray-600 text-lg text-center">
          &copy; 2020 - present. Sembark Tech. All rights reserved.
        </div>
        <div class="text-center text-gray-600 text-sm italic">
          v{{ version }}
        </div>
      </div>
    </footer>
  </body>
</html>
