---
layout: covidDistrictSlots
ogImage: /covid/og_image.png
pagination:
  data: covid.districts
  size: 1
  alias: district
permalink: "covid/vaccination-slots-in-{{ district.slug }}/"
sitemap:
  changefreq: weekly
  priority: 0.5
---

<div
  id="pageContainer"
  data-districtId="{{ district.district_id }}"
  style="
    max-width: 400px;
    margin: 0 auto;
    padding: 1rem;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
      'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
      'Noto Color Emoji';
  "
>
  <h1 class="text-lg font-medium">
    <a
      href="{{
        meta.publicUrl
      }}/?utm_source=direct&utm_medium=site&utm_campaign=covid-vaccination"
      style="
        display: inline-flex;
        align-items: center;
        font-size: 1.2rem;
        text-decoration: none;
        text-color: inherit;
      "
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        class="w-10 h-10"
        style="width: 36px; height: 36px; margin-right: 0.75rem"
        fill="currentColor"
      >
        <path
          d="M8 16a8 8 0 10-4.465-1.361c.41.276 0-.846.715-2.639.534-1.34 1.81-4.466 1.825-5.205.01-.534-.193-.994-.4-1.466-.046-.101-.09-.204-.134-.307-.391.768-1.764 1.929-2.69 1.743-1.285-.256-.419-1.777.116-2.359l.18-.201c.498-.563 1.191-1.347 1.836-1.076.312.13 1.09.701 1.707 1.19 0 0-.018-.047-.028-.079-.282-.87-.67-1.896 1.14-2.047.46-.04 2.776-.023 2.275.854-.202.352-1.139.45-1.863.526-.305.032-.573.06-.732.101.076.42.121.93.128 1.396 1.074.123 1.755.032 2.557-.075.399-.053.827-.11 1.348-.147C12.035 4.81 12.75 4.75 13 5c.165.165.204.575.145.934-.247 1.491-1.68 2.794-2.812 3.823-.191.174-.374.34-.54.498-1.642 1.55-2.523 3.144-2.434 5.127.01.189-.011.607.225.607.138.007.276.011.416.011z"
        />
      </svg>
      <span>
        <span
          style="
            display: inline-block;
            margin-right: 0.5rem;
            letter-spacing: 1px;
            font-weight: 700;
            font-size: 1.25rem;
          "
          >Sembark</span
        >
        <span style="display: inline-block; font-size: 0.8rem"
          >Travel Management Software</span
        >
      </span>
    </a>
  </h1>
  <h1 style="font-size: 1.75rem">
    <span style="font-size: 1.2rem">Vaccination slots availability in</span
    ><br />
    {{ district.district_name }},
    {{ district.state.state_name }}
  </h1>
  <p>Checking slots availability...</p>
</div>
<!-- Loading it as script to block search engines from redirecting -->
<script src="/assets/covid/redirect-from-district-to-search.js"></script>
