---
layout: main
showChatBox: false
showAnnouncement: false
sitemap:
  changefreq: monthly
  priority: 0.20
---

<main class="mx-auto">
  <div class="text-center py-24 bg-indigo-800 px-4">
    <h1 class="text-4xl md:text-5xl mb-8 text-indigo-50 font-bold">
      Policies and Procedures
    </h1>
    <p class="max-w-2xl text-lg mx-auto text-indigo-100">
      We're committed to keeping your data secure, your private information
      private, and being transparent about our practices as a business.
    </p>
  </div>
  <div class="py-24 container mx-auto px-4 space-y-12 lg:flex lg:space-y-0">
    <aside class="lg:w-64 lg:sticky top-0 z-10">
      <nav
        class="flex flex-col space-y-4 bg-indigo-800 p-4 rounded font-medium"
      >
        <a
          href="/legal/terms"
          class="block w-full py-2 px-3 rounded {{ 'text-indigo-50 bg-indigo-900 ' if key === 'terms' else 'text-indigo-200 hover:text-gray-100'}}"
          >Terms of Service</a
        >
        <a
          href="/legal/privacy"
          class="block w-full py-2 px-3 rounded {{ 'text-indigo-50 bg-indigo-900 ' if key === 'privacy' else 'text-indigo-200 hover:text-indigo-100'}}"
          >Privacy Policy</a
        >
        <a
          href="/legal/security"
          class="block w-full py-2 px-3 rounded {{ 'text-indigo-50 bg-indigo-900 ' if key === 'security' else 'text-indigo-200 hover:text-indigo-100'}}"
          >Security</a
        >
        <a
          href="/legal/cookie-policy"
          class="block w-full py-2 px-3 rounded {{ 'text-indigo-50 bg-indigo-900 ' if key === 'cookie' else 'text-indigo-200 hover:text-indigo-100'}}"
          >Cookie Policy</a
        >
        <a
          href="/legal/sub-processors"
          class="block w-full py-2 px-3 rounded {{ 'text-indigo-50 bg-indigo-900 ' if key === 'subprocessors' else 'text-indigo-200 hover:text-indigo-100'}}"
          >List of Sub-processors</a
        >
      </nav>
    </aside>
    <div class="flex-1 pl-4">
      <article class="prose lg:prose-lg mx-auto">
        {{ content | safe }}
      </article>
    </div>
  </div>
</main>
