<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="dns-prefetch" href="https://assets.sembark.com" />
    <link rel="dns-prefetch" href="https://rsms.com" />
    <link rel="assets" href="https://assets.sembark.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- the inner fonts -->
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <!-- fluid icon for Mac OS desktop app -->
    <link
      rel="fluid-icon"
      href="https://assets.sembark.com/images/logos/logo_512x512.png"
      title="Sembark"
    />
    <link
      rel="alternate icon"
      class="js-site-favicon"
      type="image/png"
      href="https://assets.sembark.com/favicons/favicon.png"
    />
    <link
      rel="icon"
      class="js-site-favicon"
      type="image/svg+xml"
      href="https://assets.sembark.com/favicons/favicon.svg"
    />
    <link
      rel="mask-icon"
      href="https://assets.sembark.com/favicons/favicon.svg"
      color="#1A202C"
    />
    <title>
      {{ title }}
    </title>
    <meta property="twitter:title" content="{{ title }}" />
    <meta
      name="description"
      property="twitter:description"
      content="Manage travel sales, operations and accounting with Sembark. Get 1-click
        quotation, smart operations and accounting, and all you need for a modern travel business."
    />
    <meta property="twitter:site" content="@sembark_" />
    <meta property="twitter:creator" content="@sembark_" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:image:src"
      content="https://assets.sembark.com/images/og-image.png"
    />
    <meta property="twitter:image:width" content="1200" />
    <meta property="twitter:image:height" content="630" />
    <meta property="og:title" content="{{ title }}" />
    <meta
      property="og:description"
      content="Manage travel sales, operations and accounting with Sembark. Get 1-click
        quotation, smart operations and accounting, and all you need for a modern travel business."
    />
    <meta
      property="og:image:secure_url"
      content="https://assets.sembark.com/images/og-image.png"
    />
    <meta
      property="og:image"
      content="https://assets.sembark.com/images/og-image.png"
    />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:site_name" content="Sembark" />
    <meta property="og:url" content="https://sembark.com" />
    <meta property="og:type" content="website" />
    <meta property="fb:app_id" content="596194027695907" />
    <meta name="theme-color" content="#1A202C" />
    <meta name="apple-mobile-web-app-title" content="Sembark" />
    <meta name="application-name" content="Sembark" />
    <link rel="stylesheet" href="../styles.css" />
    <script
      src="https://assets.sembark.com/js/themed-favicon.js"
      defer
    ></script>
    <meta name="google-analytics" content="UA-169640999-1" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-169640999-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-169640999-1");
    </script>
  </head>
  <body class="font-sans">
    <content></content>
    <footer class="border-t p-8 md:p-12">
      <div class="md:flex">
        <div class="max-w-sm mb-16">
          <img
            src="https://assets.sembark.com/images/icon.svg"
            alt="Logo"
            class="w-16 h-16 opacity-25"
          />
          <p class="pt-8 text-gray-500 text-lg">
            Improving the tourism industry through smart technologies.
          </p>
        </div>
        <div class="md:ml-16 flex-1 mb-16">
          <div>
            <h5
              class="uppercase text-sm text-gray-400 font-medium tracking-wider mb-4"
            >
              Support
            </h5>
            <ul class="grid gap-4 text-gray-500 font-medium">
              <li>
                <a href="#pricing">Pricing</a>
              </li>
              <li>
                <a href="https://docs.sembark.com">Documentation</a>
              </li>
              <li>
                <a href="mailto:contact@sembark.com">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="md:ml-16 flex-1 mb-16">
          <div>
            <h5
              class="uppercase text-sm text-gray-400 font-medium tracking-wider mb-4"
            >
              Legal
            </h5>
            <ul class="grid gap-4 text-gray-500 font-medium">
              <li>
                <a href="#">Claim</a>
              </li>
              <li>
                <a href="#">Privacy</a>
              </li>
              <li>
                <a href="#">Terms</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="border-t pt-8 text-gray-600 text-lg text-center">
        &copy; 2020. Sembark, Tech. All rights reserved.
      </div>
    </footer>
  </body>
</html>
