---
layout: main
title: Online Travel Management Software for Sales, Reservation and Finance
sitemap:
  changefreq: monthly
  priority: 1.00
---

<section
  class="relative min-h-screen text-white bg-gradient-to-t from-indigo-500 via-indigo-800 to-indigo-900"
  id="main"
>
  <div class="relative">
    <div class="container py-8 mx-auto relative px-4">
      <div class="space-y-16 md:flex md:space-y-0">
        <div class="mt-16">
          <h1
            class="uppercase mb-4 tracking-wider font-medium text-indigo-300 text-lg"
          >
            Sembark Travel Software
          </h1>
          <h2 class="text-4xl lg:text-5xl xl:text-6xl font-bold">
            Manage and Grow<br />
            <span class="text-indigo-200">Your Travel Business</span>
          </h2>
          <p class="mt-8 max-w-lg tracking-wide">
            Grow your business with quick quotation and follow-up reminders,
            ease of reservations with scheduling calendars and accountings with
            expense management.
          </p>
          <div class="mt-8">
            <a
              class="inline-block px-8 sm:px-12 py-6 font-medium text-lg md:text-2xl rounded-lg bg-gradient-to-r from-indigo-500 to-indigo-600 shadow-lg hover:shadow-xl"
              href="#contact-us"
              >Contact Us for a Demo</a
            >
            <div class="mt-8 text-lg text-indigo-200 space-y-4">
              <a
                href="tel:{{ meta.address.phoneCall }}"
                class="flex items-center space-x-2"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="w-6 h-6 text-indigo-400"
                >
                  <path
                    d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z"
                  />
                </svg>
                <span>
                  {{ meta.address.phoneDisplay }}
                </span>
                <span class="opacity-50">/</span>
                <object>
                  <a
                    href="tel:{{ meta.address.secondaryPhoneCall }}"
                    class="flex items-center"
                  >
                    {{ meta.address.secondaryPhoneDisplay }}
                  </a>
                </object>
              </a>
              <a
                href="mailto:{{ meta.address.email }}"
                class="flex items-center"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="w-6 h-6 mr-2 text-indigo-400"
                >
                  <path
                    d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
                  />
                  <path
                    d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"
                  />
                </svg>
                {{ meta.address.email }}
              </a>
            </div>
          </div>
        </div>
        <div class="md:w-1/2">
          <svg
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 1150 1150"
            class="w-full"
          >
            <g clip-path="url(#clip0)">
              <path
                opacity=".3"
                d="M149.089 843.7c-97.6-84.8-111.3-4-117.8-2.8 0 0-2.9 19.5 0 90.6l951.4 549.1v-386.4c-108.2-193.7-179.8-329-250.2-266.5-122 108.1-181.4 180.7-326.5 30.7-86-88.9-139.7 87.1-256.9-14.7z"
                fill="url(#hero_paint0_linear)"
              />
              <path
                d="M796.488 822.7c0-8-4.699-17.1-10.399-20.4-5.8-3.3-10.401.4-10.401 8.4s4.701 17.1 10.401 20.4c5.7 3.4 10.399-.4 10.399-8.4z"
                fill="#6366F1"
              />
              <path
                d="M520.588 876.5c0-7.7-4.8-16.7-10.8-20.1-6-3.4-10.8 0-10.8 7.7s4.8 16.7 10.8 20.1c5.9 3.4 10.8 0 10.8-7.7z"
                fill="#A5B4FC"
              />
              <path
                opacity=".07"
                d="M729.889 311l184.6 106.5v362.8l-184.6-106.5V311z"
                fill="#fff"
              />
              <path
                opacity=".3"
                d="M878.488 448.7l-184.6-106.5-.1 362.8 79.8 46 12.6 24.8 12.5-10.2 79.8 45.9V448.7z"
                fill="url(#hero_paint1_linear)"
              />
              <path
                opacity=".1"
                d="M854.288 561.8c0 11.6-1.7 22.2-4.9 31.1-3.2 8.9-7.9 15.9-13.8 20.7-5.9 4.8-13 7.2-20.7 7.2-7.7 0-16.1-2.5-24.4-7.4v-88.5l63.8 36.9z"
                fill="#fff"
              />
              <path
                opacity=".05"
                d="M605.2 691.591c-8.7-14.2-12.9-32.2-16.6-48-4.3-18.2-7.9-33.7-16.9-37.6-10.3-4.5-14.9 6.9-21.4 22.7-3.8 9.3-8.3 20.3-14.9 30.4-7.1-7.5-14.6-13.7-22.5-18.2-33.1-19.1-60.7-2.6-67.2 36.8-4.5-3.4-9-6.5-13.6-9.2-53.1-30.6-96.1 4.1-96.1 77.7 0 73.5 43 157.9 96 188.5 51.5 29.7 93.6-2.2 96-71.3 9.7 18 22.6 33.1 36.9 41.3 3.7 2.1 7.3 3.7 10.7 4.7 20.6 45.3 51.3 84.3 85.6 104.099 62 35.8 112.3-4.6 112.4-90.199 0-85.6-50.3-184.1-112.3-219.9-20.5-11.8-39.6-15.4-56.1-11.8z"
                fill="url(#hero_paint2_linear)"
              />
              <path
                opacity=".3"
                d="M790.489 613.5c-11.2-6.5-22.2-16.9-31.9-30.3-9.7-13.4-17.8-29.2-23.4-45.9-5.6-16.7-8.6-33.7-8.6-49.2s3-29.1 8.6-39.3l55.3 76.2v88.5z"
                fill="#fff"
              />
              <path
                d="M854.289 561.8c0-19.5-4.6-41.1-13.2-61.5s-20.6-38.4-34.1-51.3c-13.6-12.9-28-19.9-41-19.9s-23.8 6.9-30.9 19.7l55.3 76.2 63.9 36.8z"
                fill="#6366F1"
              />
              <path
                opacity=".15"
                d="M717.988 617.3l112.5 64.9v13.6l-112.5-64.9v-13.6zM717.988 643.9l136.4 78.7v13.6l-136.4-78.7v-13.6zM717.988 670.5l88.4 51v13.6l-88.4-51v-13.6z"
                fill="#fff"
              />
              <path
                opacity=".2"
                d="M982.8 856.445c6 3.4 10.8 11.8 10.8 18.7v30.5l20.2 11.6c6 3.4 10.8 11.8 10.8 18.8 0 6.9-4.8 9.7-10.8 6.3l-20.2-11.6v30.5c0 6.9-4.8 9.7-10.8 6.3-6-3.4-10.8-11.8-10.8-18.8v-30.5l-20.2-11.6c-6-3.4-10.8-11.8-10.8-18.7 0-6.9 4.8-9.7 10.8-6.3l20.2 11.6v-30.5c0-6.9 4.8-9.7 10.8-6.3z"
                fill="url(#hero_paint3_linear)"
              />
              <path
                d="M607.979 503.7c17.2 21.5 36.301 45.1 49.701 61.6 14.9-44.8-5.001-107.4-27.201-154.2-5.3 29.1-12.7 59.9-22.5 92.6z"
                fill="#A5B4FC"
              />
              <path
                d="M503.18 337.9c-22.1 21.2-41.9 60.8-27 122.7 13.4-1.1 32.4-2.6 49.6-4.2-9.8-44-17.2-83.3-22.6-118.5z"
                fill="#6366F1"
              />
              <path
                opacity=".2"
                d="M550.779 558.4c-123.6-474.6-21.9-514.9 16.5-531.1 38.4 60.6 140 218.2 16.3 550l-32.8-18.9z"
                fill="url(#hero_paint4_linear)"
              />
              <path
                opacity=".1"
                d="M587.18 531.1c-123.6-474.5-22-514.9 16.5-531.1 38.4 60.6 140 218.2 16.3 550l-32.8-18.9z"
                fill="url(#hero_paint5_linear)"
              />
              <path
                opacity=".15"
                d="M583.579 577.3c123.7-331.8 22.1-489.4-16.3-550v540.6l16.3 9.4z"
                fill="url(#hero_paint6_linear)"
              />
              <path
                opacity=".2"
                d="M381.8 822.6l-46.4-26.8v-15.7l46.4 26.8c3.8 2.2 9.3 6.6 14 13.4 5.1 7.3 8.7 16.5 8.7 26.5 0 11-2.8 17.3-8.2 19.1-5 1.7-10.9-1.2-14.6-3.3l-19.1-11-.1-.1c-1.6-1-4.2-1.9-6.3-1.3-1.7.5-3.6 2.2-3.6 8.3 0 6.1 1.9 9.9 3.5 12.1 2 2.8 4.6 4.8 6.2 5.6l.2.1 58.3 33.7v15.7l-58-33.5c-4-2.1-9.7-6.5-14.7-13.5-5.4-7.6-9.2-17.3-9.1-28.1 0-10.7 3.7-16.2 9.1-17.7 5-1.4 10.7.6 14.7 3.1l18.9 10.9c2.7 1.6 4.8 2.3 6.1 1.8 1-.3 3-1.8 3-9.8 0-5.1-1.7-8.5-3.2-10.8-1.8-2.6-4.3-4.6-5.8-5.5z"
                fill="#fff"
              />
              <path
                d="M345.4 791.9c0 12.9-7.6 19-16.9 13.7-9.3-5.4-16.9-20.2-16.9-33.2 0-12.9 7.6-19 16.9-13.7 9.3 5.4 16.9 20.3 16.9 33.2zM444.4 930.9c0 12.9-7.6 19-16.9 13.7-9.3-5.4-16.9-20.2-16.9-33.2 0-12.9 7.6-19 16.9-13.7 9.3 5.4 16.9 20.3 16.9 33.2z"
                fill="#6366F1"
              />
              <path
                opacity=".07"
                d="M524.2 815.6l299.9 173.1v158.7L524.2 974.3V815.6z"
                fill="url(#hero_paint7_linear)"
              />
              <path
                opacity=".3"
                d="M484.2 836.6l299.9 173.1v158.7L484.2 995.3V836.6z"
                fill="url(#hero_paint8_linear)"
              />
              <path
                d="M511.1 931.1c0 12.8 7.6 27.5 16.9 32.9 9.3 5.4 16.9-.6 16.9-13.4s-7.6-27.5-16.9-32.9c-9.3-5.4-16.9.6-16.9 13.4z"
                fill="#6366F1"
              />
              <path
                opacity=".15"
                d="M553.4 955.9c0 5.9 3.5 12.8 7.9 15.3 4.3 2.5 7.8-.3 7.8-6.2s-3.5-12.8-7.9-15.3c-4.3-2.5-7.8.2-7.8 6.2zM577.4 969.8c0 5.9 3.5 12.8 7.9 15.3 4.3 2.5 7.8-.3 7.8-6.2s-3.5-12.8-7.9-15.3c-4.3-2.6-7.8.2-7.8 6.2zM708.4 999.8v90.3l-11.8-6.8V993l11.8 6.8zM734.2 1014.8v90.3l-11.8-6.8V1008l11.8 6.8zM760.1 1029.8v90.3l-11.8-6.8V1023l11.8 6.8z"
                fill="#fff"
              />
              <path
                opacity=".3"
                d="M217.9 383.6l186.9 107.9v346.3l-186.9-108V383.6z"
                fill="url(#hero_paint9_linear)"
              />
              <path
                d="M333.3 509c0 17.3-10 25.5-22.3 18.3-12.3-7.2-22.3-27-22.3-44.3 0-17.3 10-25.5 22.3-18.3 12.3 7.2 22.3 27 22.3 44.3zM311 541.2c-19.9-11.6-36.3-.7-39.2 24.3-.5 4.3 2.8 10.1 6.8 12.4l64.9 37.9c4 2.3 7.3.5 6.8-4.5-3-28.5-19.5-58.5-39.3-70.1z"
                fill="#A5B4FC"
              />
              <path
                opacity=".15"
                d="M255.4 608.2l111.4 64.3v13.6l-111.4-64.3v-13.6zM266.7 641.7l88.3 50.9v13.6l-88.3-50.9v-13.6z"
                fill="#fff"
              />
              <path
                d="M289.2 698.9l-130-75.1v38.7l130 75.1v-38.7z"
                fill="#A5B4FC"
              />
            </g>
            <defs>
              <linearGradient
                id="hero_paint0_linear"
                x1="680.141"
                y1="610.587"
                x2="558.985"
                y2="995.541"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#fff" />
                <stop offset="1" stop-color="#fff" stop-opacity="0" />
              </linearGradient>
              <linearGradient
                id="hero_paint1_linear"
                x1="786.138"
                y1="402.902"
                x2="786.138"
                y2="851.257"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#fff" stop-opacity="0" />
                <stop offset="1" stop-color="#fff" />
              </linearGradient>
              <linearGradient
                id="hero_paint2_linear"
                x1="639.452"
                y1="690.81"
                x2="505.189"
                y2="923.423"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#fff" />
                <stop offset="1" stop-color="#fff" stop-opacity="0" />
              </linearGradient>
              <linearGradient
                id="hero_paint3_linear"
                x1="1003.71"
                y1="895.465"
                x2="951.348"
                y2="936.785"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#fff" />
                <stop offset="1" stop-color="#fff" stop-opacity="0" />
              </linearGradient>
              <linearGradient
                id="hero_paint4_linear"
                x1="711.374"
                y1="44.127"
                x2="400.523"
                y2="582.68"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#fff" />
                <stop offset="1" stop-color="#fff" stop-opacity="0" />
              </linearGradient>
              <linearGradient
                id="hero_paint5_linear"
                x1="747.765"
                y1="16.834"
                x2="436.914"
                y2="555.387"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#fff" />
                <stop offset="1" stop-color="#fff" stop-opacity="0" />
              </linearGradient>
              <linearGradient
                id="hero_paint6_linear"
                x1="653.406"
                y1="161.562"
                x2="413.443"
                y2="594.542"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#fff" stop-opacity="0" />
                <stop offset="1" stop-color="#fff" />
              </linearGradient>
              <linearGradient
                id="hero_paint7_linear"
                x1="668.048"
                y1="828.324"
                x2="679.222"
                y2="1109.04"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#fff" />
                <stop offset="1" stop-color="#fff" stop-opacity="0" />
              </linearGradient>
              <linearGradient
                id="hero_paint8_linear"
                x1="628.046"
                y1="849.324"
                x2="639.22"
                y2="1130.04"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#fff" />
                <stop offset="1" stop-color="#fff" stop-opacity="0" />
              </linearGradient>
              <linearGradient
                id="hero_paint9_linear"
                x1="424.831"
                y1="414.035"
                x2="258.92"
                y2="701.475"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#fff" />
                <stop offset="1" stop-color="#fff" stop-opacity="0" />
              </linearGradient>
              <clipPath id="clip0">
                <path fill="#fff" d="M0 0h1150v1150H0z" />
              </clipPath>
            </defs>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
<section
  class="relative min-h-screen text-white bg-gradient-to-b from-indigo-500 via-teal-600 to-purple-900 relative"
  id="features"
>
  <div class="container px-4 mx-auto py-20">
    <div class="text-center mb-24">
      <h3 class="text-4xl lg:text-5xl font-bold mb-8">Everything You Need</h3>
      <p class="max-w-4xl mx-auto tracking-wide">
        Sembark provides all you need for a growing travel business from sales
        to operations with accountings and much more.
      </p>
    </div>
    <div
      class="flex my-16 items-center rounded-lg rounded-lg bg-gradient-to-t from-indigo-400 to-indigo-700"
    >
      <div class="w-1/2 hidden md:block">
        <svg
          viewBox="0 0 1150 1150"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            opacity="0.07"
            d="M632.4 127.2L185.5 627.1L632.5 611.1C635.8 611 639.4 605.6 638.6 602L593.7 402.3L368.4 515L596.2 366.1L638.5 129.4C639.3 124.8 635.7 123.6 632.4 127.2Z"
            fill="url(#sales_paint0_linear)"
          />
          <path
            opacity="0.4"
            d="M666.7 152.1L219.8 652L666.8 636C670.1 635.9 673.7 630.5 672.9 626.9L628 427.2L402.7 539.9L630.5 391L672.7 154.3C673.6 149.7 670 148.5 666.7 152.1Z"
            fill="url(#sales_paint1_linear)"
          />
          <path
            opacity="0.3"
            d="M633.8 680.2L931.4 508.4L931.3 663.5L659.9 820.1L633.7 859L633.8 680.2Z"
            fill="url(#sales_paint2_linear)"
          />
          <path
            d="M963 568.9V526.8L850.7 591.6V633.7L963 568.9Z"
            fill="#6366F1"
          />
          <path
            opacity="0.15"
            d="M710.3 673.8L775.5 636.2V649.8L710.3 687.4V673.8Z"
            fill="white"
          />
          <path
            opacity="0.15"
            d="M710.2 701L835.9 628.5V642.1L710.2 714.6V701Z"
            fill="white"
          />
          <path
            opacity="0.15"
            d="M710.2 728.3L862.5 640.4V654L710.2 741.9V728.3Z"
            fill="white"
          />
          <path
            d="M694.2 697.2C694.2 710 686.6 724.7 677.3 730.1C668 735.5 660.4 729.5 660.4 716.7C660.4 703.9 668 689.2 677.3 683.8C686.7 678.4 694.2 684.4 694.2 697.2Z"
            fill="#6366F1"
          />
          <path
            opacity="0.3"
            d="M608.1 552.1L310.5 723.8L310.4 878.9L581.7 722.3L607.9 730.9L608.1 552.1Z"
            fill="url(#sales_paint3_linear)"
          />
          <path
            d="M397.1 751.2V709.1L284.8 773.9V816L397.1 751.2Z"
            fill="#A5B4FC"
          />
          <path
            opacity="0.15"
            d="M531.5 634L466.3 671.6V685.2L531.5 647.6V634Z"
            fill="white"
          />
          <path
            opacity="0.15"
            d="M531.5 661.3L413.8 729.2V742.8L531.5 674.9V661.3Z"
            fill="white"
          />
          <path
            opacity="0.15"
            d="M531.5 688.5L379.2 776.4V790L531.5 702.1V688.5Z"
            fill="white"
          />
          <path
            d="M547.6 638.9C547.6 651.7 555.2 657.7 564.5 652.3C573.8 646.9 581.4 632.2 581.4 619.4C581.4 606.6 573.8 600.6 564.5 606C555.2 611.4 547.6 626.2 547.6 638.9Z"
            fill="#A5B4FC"
          />
          <path
            opacity="0.2"
            d="M269.8 931.3L447.5 828.7V921.3L269.8 1023.9V931.3Z"
            fill="url(#sales_paint4_linear)"
          />
          <path
            opacity="0.15"
            d="M402 877.3L348.6 908.2V919.3L402 888.4V877.3Z"
            fill="white"
          />
          <path
            opacity="0.15"
            d="M402 899.6L288.2 965.3V976.6L402 910.9V899.6Z"
            fill="white"
          />
          <path
            d="M411.4 880.6C411.4 888.2 415.9 891.8 421.5 888.6C427.1 885.4 431.6 876.6 431.6 869C431.6 861.4 427.1 857.8 421.5 861C415.9 864.2 411.4 873 411.4 880.6Z"
            fill="#A5B4FC"
          />
          <path
            opacity="0.2"
            d="M761.8 789.3L939.5 686.7V779.3L761.8 881.9V789.3Z"
            fill="url(#sales_paint5_linear)"
          />
          <path
            opacity="0.15"
            d="M894 735.3L840.6 766.2V777.3L894 746.4V735.3Z"
            fill="white"
          />
          <path
            opacity="0.15"
            d="M894 757.6L780.2 823.3V834.6L894 768.9V757.6Z"
            fill="white"
          />
          <path
            d="M903.4 738.6C903.4 746.2 907.9 749.8 913.5 746.6C919.1 743.4 923.6 734.6 923.6 727C923.6 719.4 919.1 715.8 913.5 719C907.9 722.2 903.4 731 903.4 738.6Z"
            fill="#6366F1"
          />
          <path
            opacity="0.2"
            d="M736.3 494.8L779.1 470.1V455.7L736.3 480.4C732.8 482.4 727.7 486.5 723.4 492.8C718.7 499.5 715.4 508 715.4 517.2C715.4 527.4 718 533.2 722.9 534.8C727.5 536.3 733 533.7 736.3 531.8L753.9 521.6L754 521.5C755.5 520.6 757.9 519.7 759.8 520.3C761.4 520.8 763.1 522.3 763.1 528C763.1 533.7 761.3 537.1 759.9 539.2C758.1 541.8 755.7 543.6 754.2 544.4L754 544.5L700.2 575.6V590L753.7 559.1C757.4 557.2 762.7 553.1 767.3 546.7C772.3 539.6 775.7 530.7 775.7 520.8C775.7 510.9 772.3 505.9 767.4 504.5C762.8 503.2 757.5 505.1 753.8 507.3L736.4 517.3C733.9 518.8 732 519.4 730.7 519C729.7 518.7 727.9 517.3 727.9 510C727.9 505.2 729.4 502.1 730.9 500.1C732.6 497.5 734.9 495.6 736.3 494.8Z"
            fill="white"
          />
          <path
            d="M771.3 467C771.3 479.9 778.9 486 788.2 480.7C797.5 475.3 805.1 460.5 805.1 447.5C805.1 434.6 797.5 428.5 788.2 433.8C778.9 439.2 771.3 454.1 771.3 467Z"
            fill="#6366F1"
          />
          <path
            d="M678.3 595C678.3 607.9 685.9 614 695.2 608.7C704.5 603.3 712.1 588.5 712.1 575.5C712.1 562.6 704.5 556.5 695.2 561.8C685.9 567.2 678.3 582.1 678.3 595Z"
            fill="#A5B4FC"
          />
          <path
            opacity="0.2"
            d="M559.5 801.7V886C559.5 886.9 558.6 887.9 558 887.6L538.3 875.5L518.2 911C517.1 912.9 515.2 913.1 515.2 911.3V827.3L559.5 801.7Z"
            fill="url(#sales_paint6_linear)"
          />
          <defs>
            <linearGradient
              id="sales_paint0_linear"
              x1="352.847"
              y1="298.765"
              x2="556.491"
              y2="567.697"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="white" />
              <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient
              id="sales_paint1_linear"
              x1="387.101"
              y1="323.675"
              x2="590.746"
              y2="592.607"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="white" />
              <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient
              id="sales_paint2_linear"
              x1="698.66"
              y1="618.046"
              x2="852.311"
              y2="738.35"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="white" />
              <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient
              id="sales_paint3_linear"
              x1="480.246"
              y1="557.096"
              x2="441.775"
              y2="869.128"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="white" />
              <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient
              id="sales_paint4_linear"
              x1="338.603"
              y1="891.585"
              x2="378.686"
              y2="961.03"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="white" />
              <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient
              id="sales_paint5_linear"
              x1="830.602"
              y1="749.583"
              x2="870.687"
              y2="819.028"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="white" />
              <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient
              id="sales_paint6_linear"
              x1="518.177"
              y1="844.791"
              x2="568.599"
              y2="876.724"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="white" />
              <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
          </defs>
        </svg>
      </div>
      <div class="flex-1 p-8 py-12">
        <h4 class="text-2xl sm:text-3xl lg:text-4xl font-medium mb-12">
          Fast Managed Sales
        </h4>
        <div>
          <dl>
            <div class="flex mb-8 space-x-4">
              <div
                class="w-12 h-12 rounded-lg inline-flex items-center justify-center bg-indigo-700 text-indigo-100 shadow-xl mt-1"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="w-8 h-8"
                  style="drop-shadow: "
                >
                  <path
                    d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z"
                  />
                </svg>
              </div>
              <div class="flex-1 min-w-0">
                <dt class="font-medium mb-1 text-lg">
                  Quick and Easy Quotation
                </dt>
                <dd class="text-sm text-indigo-100">
                  Quickly create quote using automated price calculated and
                  stored itineraries
                </dd>
              </div>
            </div>
            <div class="flex mb-8 space-x-4">
              <div
                class="w-12 h-12 rounded-lg inline-flex items-center justify-center bg-indigo-700 text-indigo-100 shadow-xl mt-1"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="w-8 h-8"
                >
                  <path
                    fill-rule="evenodd"
                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z"
                    clip-rule="evenodd"
                  />
                </svg>
              </div>
              <div class="flex-1 min-w-0">
                <dt class="font-medium mb-1 text-lg">
                  Follow-ups and Reminders
                </dt>
                <dd class="text-sm text-indigo-100">
                  Add follow-ups with reminders to never miss an update
                </dd>
              </div>
            </div>
            <div class="flex mb-8 space-x-4">
              <div
                class="w-12 h-12 rounded-lg inline-flex items-center justify-center bg-indigo-700 text-indigo-100 shadow-xl mt-1"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="w-8 h-8"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M3 8V4m0 0h4M3 4l4 4m8 0V4m0 0h-4m4 0l-4 4m-8 4v4m0 0h4m-4 0l4-4m8 4l-4-4m4 4v-4m0 4h-4"
                  />
                </svg>
              </div>
              <div class="flex-1 min-w-0">
                <dt class="font-medium mb-1 text-lg">
                  Multiple Sources Queries
                </dt>
                <dd class="text-sm text-indigo-100">
                  Add multiple query sources to manage your queries
                </dd>
              </div>
            </div>
            <div class="flex mb-8 space-x-4">
              <div
                class="w-12 h-12 rounded-lg inline-flex items-center justify-center bg-indigo-700 text-indigo-100 shadow-xl mt-1"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="w-8 h-8"
                >
                  <path
                    d="M8 5a1 1 0 100 2h5.586l-1.293 1.293a1 1 0 001.414 1.414l3-3a1 1 0 000-1.414l-3-3a1 1 0 10-1.414 1.414L13.586 5H8zM12 15a1 1 0 100-2H6.414l1.293-1.293a1 1 0 10-1.414-1.414l-3 3a1 1 0 000 1.414l3 3a1 1 0 001.414-1.414L6.414 15H12z"
                  />
                </svg>
              </div>
              <div class="flex-1 min-w-0">
                <dt class="font-medium mb-1 text-lg">B2B Sales on Sembark</dt>
                <dd class="text-sm text-indigo-100">
                  Easily share quotes with business using Sembark
                </dd>
              </div>
            </div>
          </dl>
        </div>
      </div>
    </div>

    <div
      class="flex my-16 items-center rounded-lg rounded-lg bg-gradient-to-t from-cyan-500 to-cyan-700"
    >
      <div class="flex-1 pl-8 pr-8 md:pl-12 py-12">
        <h4 class="text-2xl sm:text-3xl lg:text-4xl font-medium mb-12">
          Ease of Operations
        </h4>
        <div>
          <dl>
            <div class="flex mb-8 space-x-4">
              <div
                class="w-12 h-12 rounded-lg inline-flex items-center justify-center bg-cyan-700 text-cyan-100 shadow-xl mt-1"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="w-8 h-8"
                >
                  <path
                    fill-rule="evenodd"
                    d="M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z"
                    clip-rule="evenodd"
                  />
                </svg>
              </div>
              <div class="flex-1 min-w-0">
                <dt class="font-medium mb-1 text-lg">
                  Automatic initialized bookings
                </dt>
                <dd class="text-sm text-cyan-100">
                  After conversion, all bookings are automatically initialized
                </dd>
              </div>
            </div>
            <div class="flex mb-8 space-x-4">
              <div
                class="w-12 h-12 rounded-lg inline-flex items-center justify-center bg-cyan-700 text-cyan-100 shadow-xl mt-1"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="w-8 h-8"
                >
                  <path
                    d="M15 8a3 3 0 10-2.977-2.63l-4.94 2.47a3 3 0 100 4.319l4.94 2.47a3 3 0 10.895-1.789l-4.94-2.47a3.027 3.027 0 000-.74l4.94-2.47C13.456 7.68 14.19 8 15 8z"
                  />
                </svg>
              </div>
              <div class="flex-1 min-w-0">
                <dt class="font-medium mb-1 text-lg">
                  Manage and Share Bookings
                </dt>
                <dd class="text-sm text-cyan-100">
                  Share bookings with service providers and customers.
                </dd>
              </div>
            </div>
            <div class="flex mb-8 space-x-4">
              <div
                class="w-12 h-12 rounded-lg inline-flex items-center justify-center bg-cyan-700 text-cyan-100 shadow-xl mt-1"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="w-8 h-8"
                >
                  <path
                    fill-rule="evenodd"
                    d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                    clip-rule="evenodd"
                  />
                </svg>
              </div>
              <div class="flex-1 min-w-0">
                <dt class="font-medium mb-1 text-lg">Bookings Calendar</dt>
                <dd class="text-sm text-cyan-100">
                  Calendar brings daily bookings and schedules at your finger
                  tips
                </dd>
              </div>
            </div>
            <div class="flex mb-8 space-x-4">
              <div
                class="w-12 h-12 rounded-lg inline-flex items-center justify-center bg-cyan-700 text-cyan-100 shadow-xl mt-1"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="w-8 h-8"
                >
                  <path
                    d="M7 3a1 1 0 000 2h6a1 1 0 100-2H7zM4 7a1 1 0 011-1h10a1 1 0 110 2H5a1 1 0 01-1-1zM2 11a2 2 0 012-2h12a2 2 0 012 2v4a2 2 0 01-2 2H4a2 2 0 01-2-2v-4z"
                  />
                </svg>
              </div>
              <div class="flex-1 min-w-0">
                <dt class="font-medium mb-1 text-lg">
                  Monthly Booking Ledgers
                </dt>
                <dd class="text-sm text-cyan-100">
                  Download and Share booking ledger with service providers
                </dd>
              </div>
            </div>
          </dl>
        </div>
      </div>
      <div class="w-1/2 hidden md:block">
        <svg
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 1150 1150"
        >
          <path
            opacity=".1"
            d="M546.201 204.1l397.7 598.7-397.6-229.6-.1-369.1z"
            fill="url(#ops_paint0_linear)"
          />
          <path
            opacity=".4"
            d="M925.9 844.6c4.1 2.4 5.9-2.5 2.7-7.3L508 204.2c-2.8-4.3-7-4.4-7-.2l.1 390.2c0 2.8 1.9 6.1 4.3 7.5l420.5 242.9zM563.3 384.4c0-4.2 4.2-4.1 7 .2l184.4 277.2c3.2 4.8 1.4 9.7-2.7 7.3L567.7 562.6c-2.4-1.4-4.3-4.7-4.3-7.5l-.1-170.7z"
            fill="url(#ops_paint1_linear)"
          />
          <path
            opacity=".3"
            d="M699.701 217.2l297.6 171.9v155.1l-271.3-156.8-26.2 8.6-.1-178.8z"
            fill="url(#ops_paint2_linear)"
          />
          <path
            d="M760.101 304.1c0 12.8-7.6 18.8-16.9 13.4-9.3-5.4-16.9-20.1-16.9-32.9 0-12.8 7.6-18.8 16.9-13.4 9.4 5.4 16.9 20.1 16.9 32.9z"
            fill="#22D3EE"
          />
          <path
            opacity=".15"
            d="M776.201 299.1l65.2 37.7v13.6l-65.2-37.7v-13.6zM776.201 326.4l194.7 112.5v13.6L776.201 340v-13.6zM776.201 353.7l152.3 88v13.6l-152.3-88v-13.6z"
            fill="#fff"
          />
          <path
            opacity=".3"
            d="M449.801 599.4l-297.5-171.9v155.1l271.3 156.7 26.3 38.9-.1-178.8z"
            fill="url(#ops_paint3_linear)"
          />
          <path
            d="M389.402 616.4c0 12.8 7.6 27.5 16.9 32.9 9.3 5.4 16.9-.6 16.9-13.4s-7.6-27.5-16.9-32.9c-9.3-5.3-16.9.7-16.9 13.4z"
            fill="#0891B2"
          />
          <path
            opacity=".15"
            d="M373.302 593l-65.2-37.7v13.6l65.2 37.7V593zM373.402 620.2l-194.8-112.5v13.6l194.7 112.5.1-13.6zM373.402 647.5l-152.3-88v13.6l152.3 88v-13.6z"
            fill="#fff"
          />
          <path
            opacity=".2"
            d="M344 198.3l124.3 71.8.1 269.3L344 467.6V198.3z"
            fill="url(#ops_paint4_linear)"
          />
          <path
            d="M305.102 272.2l97.8 56.5V361l-97.8-56.5v-32.3z"
            fill="#0891B2"
          />
          <path
            opacity=".15"
            d="M344 427.6l124.3 71.8v39.9L344 467.5v-39.9zM359.301 247.2l51 29.4v13.6l-51-29.4v-13.6zM359.402 274.5l90.2 52.1v13.6l-90.2-52.1v-13.6zM412.302 423.5v13.6l-52.9-30.6v-13.6l52.9 30.6z"
            fill="#fff"
          />
          <path
            opacity=".2"
            d="M606.601 682.2l-124.3-71.8.1 269.3 124.3 71.8-.1-269.3z"
            fill="url(#ops_paint5_linear)"
          />
          <path
            d="M645.501 801l-97.8-56.5v32.3l97.8 56.5V801z"
            fill="#22D3EE"
          />
          <path
            opacity=".15"
            d="M606.702 911.5l-124.3-71.8v39.9l124.3 71.8v-39.9zM501.102 661.3l51 29.4v13.6l-51-29.4v-13.6zM501.102 688.6l90.2 52.1v13.6l-90.2-52.1v-13.6zM538.402 828.6v13.6l52.9 30.6v-13.6l-52.9-30.6z"
            fill="#fff"
          />
          <path
            opacity=".2"
            d="M860.3 510.9c6 3.4 10.8 11.8 10.8 18.7v30.5l20.2 11.6c6 3.4 10.8 11.8 10.8 18.7 0 6.9-4.8 9.7-10.8 6.3l-20.2-11.6v30.5c0 6.9-4.8 9.7-10.8 6.3-6-3.4-10.8-11.8-10.8-18.7v-30.5L829.3 561c-6-3.4-10.8-11.8-10.8-18.8 0-6.9 4.8-9.7 10.8-6.3l20.2 11.6V517c0-6.8 4.8-9.6 10.8-6.1z"
            fill="url(#ops_paint6_linear)"
          />
          <defs>
            <linearGradient
              id="ops_paint0_linear"
              x1="835.899"
              y1="346.249"
              x2="632.289"
              y2="698.698"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#fff" />
              <stop offset="1" stop-color="#fff" stop-opacity="0" />
            </linearGradient>
            <linearGradient
              id="ops_paint1_linear"
              x1="814.133"
              y1="352.568"
              x2="607.94"
              y2="709.27"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#fff" />
              <stop offset=".896" stop-color="#fff" stop-opacity="0" />
            </linearGradient>
            <linearGradient
              id="ops_paint2_linear"
              x1="827.588"
              y1="222.271"
              x2="865.862"
              y2="534.294"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#fff" />
              <stop offset="1" stop-color="#fff" stop-opacity="0" />
            </linearGradient>
            <linearGradient
              id="ops_paint3_linear"
              x1="384.942"
              y1="537.247"
              x2="231.282"
              y2="657.5"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#fff" />
              <stop offset="1" stop-color="#fff" stop-opacity="0" />
            </linearGradient>
            <linearGradient
              id="ops_paint4_linear"
              x1="464.463"
              y1="267.91"
              x2="357.019"
              y2="453.896"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#fff" />
              <stop offset="1" stop-color="#fff" stop-opacity="0" />
            </linearGradient>
            <linearGradient
              id="ops_paint5_linear"
              x1="602.83"
              y1="680.015"
              x2="495.385"
              y2="866.002"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#fff" />
              <stop offset="1" stop-color="#fff" stop-opacity="0" />
            </linearGradient>
            <linearGradient
              id="ops_paint6_linear"
              x1="881.174"
              y1="549.868"
              x2="828.816"
              y2="591.188"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#fff" />
              <stop offset="1" stop-color="#fff" stop-opacity="0" />
            </linearGradient>
          </defs>
        </svg>
      </div>
    </div>
    <div
      class="flex my-16 items-center rounded-lg rounded-lg bg-gradient-to-t from-purple-500 to-purple-800"
    >
      <div class="w-1/2 hidden md:block">
        <svg
          viewBox="0 0 1150 1150"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            opacity="0.2"
            d="M462.699 677C462.699 726 491.399 749.2 526.699 728.8C562.099 708.4 590.699 652.1 590.699 603.1C590.699 554.1 561.999 530.9 526.699 551.3C491.299 571.7 462.599 628 462.699 677Z"
            fill="url(#acc_paint0_linear)"
          />
          <path
            opacity="0.3"
            d="M644.401 100C638.101 103.6 633.101 112.4 633.101 119.6V312.8L575.801 345.9V545.2C575.801 552.4 580.901 555.3 587.101 551.7C593.401 548.1 598.401 539.3 598.401 532.1V358.9L655.701 325.8V106.4C655.801 99.3003 650.701 96.3003 644.401 100Z"
            fill="url(#acc_paint1_linear)"
          />
          <path
            opacity="0.3"
            d="M613.2 939.2C606.9 942.8 601.9 939.9 601.9 932.7V787.9L544.5 821V726.2C544.5 719 549.6 710.2 555.8 706.6C562.1 703 567.1 705.9 567.1 713.1V781.8L624.4 748.7V919.6C624.5 926.8 619.4 935.6 613.2 939.2Z"
            fill="url(#acc_paint2_linear)"
          />
          <path
            opacity="0.3"
            d="M525.101 241.7C518.801 245.3 513.801 254.1 513.801 261.3V590C513.801 597.2 518.901 600.1 525.101 596.5C531.401 592.9 536.401 584.1 536.401 576.9V248.2C536.401 241 531.301 238.1 525.101 241.7Z"
            fill="url(#acc_paint3_linear)"
          />
          <path
            d="M589.301 922.6C589.301 942.4 600.901 951.8 615.201 943.5C629.501 935.3 641.101 912.5 641.101 892.7C641.101 872.9 629.501 863.5 615.201 871.8C600.901 880.1 589.301 902.8 589.301 922.6Z"
            fill="#E879F9"
          />
          <path
            opacity="0.3"
            d="M398.999 406.6C405.299 403 410.299 405.9 410.299 413.1V510.7L467.599 477.6V597.5C467.599 604.7 462.499 613.5 456.299 617.1C449.999 620.7 444.999 617.8 444.999 610.6V516.8L387.699 549.9V426.2C387.699 419 392.699 410.2 398.999 406.6Z"
            fill="url(#acc_paint4_linear)"
          />
          <path
            d="M373.6 441C373.6 460.6 385.1 469.8 399.2 461.7C413.3 453.5 424.8 431.1 424.8 411.5C424.8 391.9 413.3 382.7 399.2 390.8C385.1 398.9 373.6 421.5 373.6 441Z"
            fill="#C026D3"
          />
          <path
            opacity="0.3"
            d="M289.301 940.2C289.301 933 294.401 924.2 300.601 920.6L389.601 869.2V794.7L478.001 743.7C484.301 740.1 489.301 743 489.301 750.2C489.301 757.4 484.201 766.2 478.001 769.8L412.201 807.8V882.3L300.701 946.8C294.401 950.4 289.301 947.4 289.301 940.2Z"
            fill="url(#acc_paint5_linear)"
          />
          <path
            opacity="0.3"
            d="M504.2 1048.7C510.5 1045.1 515.5 1036.3 515.5 1029.1V792.1C515.5 784.9 510.4 782 504.2 785.6C497.9 789.2 492.9 798 492.9 805.2V1042.2C492.9 1049.3 498 1052.3 504.2 1048.7Z"
            fill="url(#acc_paint6_linear)"
          />
          <path
            d="M275.6 948.8C275.6 968.6 287.2 978 301.5 969.7C315.8 961.5 327.4 938.7 327.4 918.9C327.4 899.1 315.8 889.7 301.5 898C287.2 906.3 275.6 929 275.6 948.8Z"
            fill="#C026D3"
          />
          <path
            opacity="0.3"
            d="M829.499 551.1L666.699 645.1V946.7L829.499 852.7V551.1Z"
            fill="url(#acc_paint7_linear)"
          />
          <path
            opacity="0.15"
            d="M803.699 742.8L706.699 798.8V810.7L803.699 754.7V742.8Z"
            fill="white"
          />
          <path
            opacity="0.15"
            d="M793.599 772.2L716.699 816.6V828.5L793.599 784.1V772.2Z"
            fill="white"
          />
          <path
            d="M767.301 825.8L880.601 760.4V794.1L767.301 859.5V825.8Z"
            fill="#E879F9"
          />
          <path
            opacity="0.2"
            d="M712.801 675.2L738.101 695.2L755.101 673.4L777.301 692.6L786.101 686.2L753.401 658.7L736.801 680.5L718.501 666.9L712.801 675.2Z"
            fill="white"
          />
          <path
            d="M693.801 674.7C693.801 686 700.401 691.3 708.501 686.6C716.601 681.9 723.201 669 723.201 657.7C723.201 646.4 716.601 641.1 708.501 645.8C700.401 650.5 693.801 663.4 693.801 674.7Z"
            fill="#E879F9"
          />
          <path
            d="M769.6 696.5C769.6 707.8 776.2 713.1 784.3 708.4C792.4 703.7 799 690.8 799 679.5C799 668.2 792.4 662.9 784.3 667.6C776.2 672.3 769.6 685.2 769.6 696.5Z"
            fill="#E879F9"
          />
          <path
            opacity="0.2"
            d="M270 748.3L424.8 658.9V739.5L270 828.9V748.3Z"
            fill="url(#acc_paint8_linear)"
          />
          <path
            opacity="0.15"
            d="M385.2 701.2L338.6 728.1V737.8L385.2 710.9V701.2Z"
            fill="white"
          />
          <path
            opacity="0.15"
            d="M385.1 720.7L285.9 777.9V787.7L385.1 730.5V720.7Z"
            fill="white"
          />
          <path
            d="M393.301 704.1C393.301 710.7 397.201 713.9 402.101 711.1C407.001 708.3 410.901 700.6 410.901 694C410.901 687.4 407.001 684.2 402.101 687C397.201 689.8 393.301 697.5 393.301 704.1Z"
            fill="#C026D3"
          />
          <path
            opacity="0.2"
            d="M667.199 501.8L821.999 412.4V493L667.199 582.4V501.8Z"
            fill="url(#acc_paint9_linear)"
          />
          <path
            opacity="0.15"
            d="M782.401 454.7L735.801 481.6V491.3L782.401 464.4V454.7Z"
            fill="white"
          />
          <path
            opacity="0.15"
            d="M782.3 474.2L683.1 531.4V541.2L782.3 484V474.2Z"
            fill="white"
          />
          <path
            d="M790.5 457.6C790.5 464.2 794.4 467.4 799.3 464.6C804.2 461.8 808.1 454.1 808.1 447.5C808.1 440.9 804.2 437.7 799.3 440.5C794.5 443.3 790.5 450.9 790.5 457.6Z"
            fill="#C026D3"
          />
          <path
            opacity="0.4"
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M562 747.905C526.7 768.305 498 745.105 498 696.105C497.9 647.105 526.6 590.805 562 570.405C597.3 550.005 626 573.205 626 622.205C626 671.205 597.4 727.505 562 747.905ZM605.536 618.221L593.221 596.464L574.5 607.061V597.5H549.5V620.648C547.013 622.005 544.118 623.746 541.181 625.867C533.805 631.194 522.5 641.582 522.5 657C522.5 660.763 523.202 664.741 525.239 668.398C527.357 672.205 530.486 674.872 533.967 676.484C539.522 679.055 545.407 678.713 549.5 678.027V682.877L517.874 701.619L530.619 723.126L549.5 711.937V721.5H574.5V698.051C576.868 696.818 579.584 695.255 582.34 693.357C589.624 688.341 601 678.327 601 663C601 659.296 600.304 655.313 598.207 651.654C596.015 647.828 592.784 645.223 589.244 643.72C583.965 641.48 578.456 641.852 574.5 642.576V635.788L605.536 618.221Z"
            fill="white"
          />
          <defs>
            <linearGradient
              id="acc_paint0_linear"
              x1="513.839"
              y1="566.791"
              x2="542.784"
              y2="731.621"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="white" />
              <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient
              id="acc_paint1_linear"
              x1="530.822"
              y1="178.605"
              x2="694.911"
              y2="462.89"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="white" />
              <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient
              id="acc_paint2_linear"
              x1="649.495"
              y1="905.142"
              x2="545.769"
              y2="725.437"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="white" />
              <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient
              id="acc_paint3_linear"
              x1="453.948"
              y1="295.857"
              x2="596.274"
              y2="542.44"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="white" />
              <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient
              id="acc_paint4_linear"
              x1="338.327"
              y1="358.993"
              x2="473.908"
              y2="593.886"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="white" />
              <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient
              id="acc_paint5_linear"
              x1="252.092"
              y1="845.253"
              x2="478.104"
              y2="845.228"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="white" />
              <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient
              id="acc_paint6_linear"
              x1="555.564"
              y1="1005.92"
              x2="452.772"
              y2="828.082"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="white" />
              <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient
              id="acc_paint7_linear"
              x1="649.296"
              y1="577.609"
              x2="793.825"
              y2="828.004"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="white" />
              <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient
              id="acc_paint8_linear"
              x1="329.902"
              y1="713.681"
              x2="364.819"
              y2="774.177"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="white" />
              <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient
              id="acc_paint9_linear"
              x1="727.135"
              y1="467.153"
              x2="762.053"
              y2="527.649"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="white" />
              <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
          </defs>
        </svg>
      </div>
      <div class="flex-1 pl-8 pr-8 md:pl-12 py-12">
        <h4 class="text-2xl sm:text-3xl lg:text-4xl font-medium mb-12">
          Accounts and Expense
        </h4>
        <div>
          <dl>
            <div class="flex mb-8 space-x-4">
              <div
                class="w-12 h-12 rounded-lg inline-flex items-center justify-center bg-purple-800 text-purple-100 shadow-xl mt-1"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="w-8 h-8"
                >
                  <path
                    fill-rule="evenodd"
                    d="M4 2a1 1 0 011 1v2.101a7.002 7.002 0 0111.601 2.566 1 1 0 11-1.885.666A5.002 5.002 0 005.999 7H9a1 1 0 010 2H4a1 1 0 01-1-1V3a1 1 0 011-1zm.008 9.057a1 1 0 011.276.61A5.002 5.002 0 0014.001 13H11a1 1 0 110-2h5a1 1 0 011 1v5a1 1 0 11-2 0v-2.101a7.002 7.002 0 01-11.601-2.566 1 1 0 01.61-1.276z"
                    clip-rule="evenodd"
                  />
                </svg>
              </div>
              <div class="flex-1 min-w-0">
                <dt class="font-medium mb-1 text-lg">
                  Automatic Instalments for Bookings
                </dt>
                <dd class="text-sm text-purple-100">
                  Instalments creation for guest and service providers
                </dd>
              </div>
            </div>
            <div class="flex mb-8 space-x-4">
              <div
                class="w-12 h-12 rounded-lg inline-flex items-center justify-center bg-purple-800 text-purple-100 shadow-xl mt-1"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="w-8 h-8"
                >
                  <path
                    d="M5 12a1 1 0 102 0V6.414l1.293 1.293a1 1 0 001.414-1.414l-3-3a1 1 0 00-1.414 0l-3 3a1 1 0 001.414 1.414L5 6.414V12zM15 8a1 1 0 10-2 0v5.586l-1.293-1.293a1 1 0 00-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L15 13.586V8z"
                  />
                </svg>
              </div>
              <div class="flex-1 min-w-0">
                <dt class="font-medium mb-1 text-lg">
                  Manage upcoming debits and credits
                </dt>
                <dd class="text-sm text-purple-100">
                  Quickly identify overdue payments and resolve them
                </dd>
              </div>
            </div>
            <div class="flex mb-8 space-x-4">
              <div
                class="w-12 h-12 rounded-lg inline-flex items-center justify-center bg-purple-800 text-purple-100 shadow-xl mt-1"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="w-8 h-8"
                >
                  <path
                    fill-rule="evenodd"
                    d="M4 4a2 2 0 00-2 2v4a2 2 0 002 2V6h10a2 2 0 00-2-2H4zm2 6a2 2 0 012-2h8a2 2 0 012 2v4a2 2 0 01-2 2H8a2 2 0 01-2-2v-4zm6 4a2 2 0 100-4 2 2 0 000 4z"
                    clip-rule="evenodd"
                  />
                </svg>
              </div>
              <div class="flex-1 min-w-0">
                <dt class="font-medium mb-1 text-lg">Expense Management</dt>
                <dd class="text-sm text-purple-100">
                  Easily create virtual accounts and manage your expenses
                </dd>
              </div>
            </div>
            <div class="flex mb-8 space-x-4">
              <div
                class="w-12 h-12 rounded-lg inline-flex items-center justify-center bg-purple-800 text-purple-100 shadow-xl mt-1"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="w-8 h-8"
                >
                  <path
                    fill-rule="evenodd"
                    d="M6.267 3.455a3.066 3.066 0 001.745-.723 3.066 3.066 0 013.976 0 3.066 3.066 0 001.745.723 3.066 3.066 0 012.812 2.812c.051.643.304 1.254.723 1.745a3.066 3.066 0 010 3.976 3.066 3.066 0 00-.723 1.745 3.066 3.066 0 01-2.812 2.812 3.066 3.066 0 00-1.745.723 3.066 3.066 0 01-3.976 0 3.066 3.066 0 00-1.745-.723 3.066 3.066 0 01-2.812-2.812 3.066 3.066 0 00-.723-1.745 3.066 3.066 0 010-3.976 3.066 3.066 0 00.723-1.745 3.066 3.066 0 012.812-2.812zm7.44 5.252a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                    clip-rule="evenodd"
                  />
                </svg>
              </div>
              <div class="flex-1 min-w-0">
                <dt class="font-medium mb-1 text-lg">Payments Verification</dt>
                <dd class="text-sm text-purple-100">
                  Verify all payment transactions to complete the accounts
                </dd>
              </div>
            </div>
          </dl>
        </div>
      </div>
    </div>
    <div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="w-24 h-24 text-white opacity-20 mx-auto"
      >
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z"
          clip-rule="evenodd"
        />
      </svg>
    </div>
    <div class="grid lg:grid-cols-3 gap-8 mt-12">
      <div class="bg-pink-500 p-8 rounded-lg">
        <h4 class="text-2xl font-medium mb-2">Support 24x7</h4>
        <p class="text-pink-100">
          Sembark provides support over phone call and email along with timely
          office visits.
        </p>
      </div>
      <div class="bg-lime-600 p-8 rounded-lg">
        <h4 class="text-2xl font-medium mb-2">Frequent Updates</h4>
        <p class="text-lime-100">
          As we continue to evolve, new features and updates are added
          frequently.
        </p>
      </div>
      <div class="bg-blue-600 p-8 rounded-lg">
        <h4 class="text-2xl font-medium mb-2">Onboarding</h4>
        <p class="text-blue-100">
          Sembark provides onboarding with data migration and training to your
          staff.
        </p>
      </div>
    </div>
    <div class="mt-24">
      <h5 class="text-2xl sm:text-3xl mb-4 font-bold">
        Need more information ?
      </h5>
      <p class="text-purple-100 text-lg">
        If you have any queries, please feel free to contact us.
      </p>
      <div
        class="mt-8 lg:flex space-y-8 lg:space-x-8 lg:space-y-0 items-center"
      >
        <a
          class="inline-block px-8 py-3 font-medium text-lg md:text-2xl rounded-lg bg-gradient-to-r from-indigo-500 to-indigo-600 shadow-lg hover:shadow-xl"
          href="#contact-us"
          >Contact Us</a
        >
        <div
          class="text-lg text-purple-200 md:flex space-y-4 md:space-y-0 md:space-x-8"
        >
          <a
            href="tel:{{ meta.address.phoneCall }}"
            class="flex items-center space-x-2"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="w-6 h-6 text-purple-400"
            >
              <path
                d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z"
              />
            </svg>
            <span>
              {{ meta.address.phoneDisplay }}
            </span>
            <span class="opacity-50">/</span>
            <object>
              <a
                href="tel:{{ meta.address.secondaryPhoneCall }}"
                class="flex items-center"
              >
                {{ meta.address.secondaryPhoneDisplay }}
              </a>
            </object>
          </a>
          <a href="mailto:{{ meta.address.email }}" class="flex items-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="w-6 h-6 mr-2 text-purple-400"
            >
              <path
                d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
              />
              <path
                d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"
              />
            </svg>
            {{ meta.address.email }}
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section
  id="pricing"
  class="relative min-h-screen text-white bg-purple-900 relative"
>
  <div class="container px-4 mx-auto py-20">
    <div class="text-center mb-24">
      <h3 class="text-4xl lg:text-5xl font-bold mb-8">Pricing</h3>
      <p class="text-lg">Simple and Easy pricing for everyone</p>
    </div>
    <div
      class="py-12 px-4 md:px-8 lg:px-12 shadow-xl bg-indigo-300 rounded-lg text-indigo-900"
    >
      <h4 class="font-bold">
        <span class="mr-2 align-top text-lg opacity-80 inline-block"
          >Starts from INR</span
        ><span class="text-6xl"
          >800<span class="opacity-50 ml-1">/-</span></span
        >
        <i class="text-lg inline-block">per user per month (exc. GST)</i>
      </h4>
      <div class="mt-8 pt-8 border-t-4 border-indigo-400">
        <h5 class="text-2xl mb-16">Enterprise plans available</h5>
        <div
          class="mt-8 lg:flex space-y-8 lg:space-x-8 lg:space-y-0 items-center text-white"
        >
          <a
            class="inline-block px-8 py-3 font-medium text-lg md:text-2xl rounded-lg bg-gradient-to-r from-indigo-500 to-indigo-600 shadow-lg hover:shadow-xl"
            href="#contact-us"
            >Contact Us</a
          >
          <div
            class="text-lg text-indigo-800 md:flex space-y-4 md:space-x-8 md:space-y-0"
          >
            <a
              href="tel:{{ meta.address.phoneCall }}"
              class="flex flex-wrap items-center space-x-2"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-6 h-6 text-indigo-500"
              >
                <path
                  d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z"
                />
              </svg>
              <span>
                {{ meta.address.phoneDisplay }}
              </span>
              <span class="opacity-50">/</span>
              <object>
                <a
                  href="tel:{{ meta.address.secondaryPhoneCall }}"
                  class="flex items-center"
                >
                  {{ meta.address.secondaryPhoneDisplay }}
                </a>
              </object>
            </a>
            <a href="mailto:{{ meta.address.email }}" class="flex items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-6 h-6 mr-2 text-indigo-500"
              >
                <path
                  d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
                />
                <path
                  d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"
                />
              </svg>
              {{ meta.address.email }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="faq" class="container px-4 mx-auto pb-24">
    <div class="mb-12">
      <h4 class="text-3xl font-medium mb-6">Frequently asked questions ?</h4>
    </div>
    <div class="mt-6 border-t-4 border-purple-800 pt-10">
      <div class="md:grid md:grid-cols-2 md:gap-8">
        <div class="space-y-12">
          <dl>
            <dt class="text-lg leading-6 font-semibold">
              Who can use Sembark Software ?
            </dt>
            <dd class="mt-2 text-base leading-6 text-purple-300">
              We have made a gold standard software for Tour Operators, DMCs and
              Travel Agencies.
            </dd>
          </dl>
          <dl>
            <dt class="text-lg leading-6 font-semibold">
              Do I need to install any new Software ?
            </dt>
            <dd class="mt-2 text-base leading-6 text-purple-300">
              No, Sembark is browser-based so you only need an internet
              connection and a browser. You can use PC, Mac or even your mobile
              phone to use Sembark.
            </dd>
          </dl>
          <dl>
            <dt class="text-lg leading-6 font-semibold">
              How to start using Sembark ?
            </dt>
            <dd class="mt-2 text-base leading-6 text-purple-300">
              Our onboarding process is easy and intuitive. It takes only 7 days
              to implement in your whole company. Basic documentation process
              takes 2 days after that We give free training to your staff.
            </dd>
          </dl>
        </div>
        <div class="mt-12 md:mt-0 space-y-12">
          <dl>
            <dt class="text-lg leading-6 font-semibold">
              Will my data be safe and backed up in Sembark ?
            </dt>
            <dd class="mt-2 text-base leading-6 text-purple-300">
              Absolutely. Our database is secure and is backed upon regular
              basis.
            </dd>
          </dl>
          <dl>
            <dt class="text-lg leading-6 font-semibold">
              What is team strength behind this software ?
            </dt>
            <dd class="mt-2 text-base leading-6 text-purple-300">
              Sembark is founded by IIT Kanpur and NIT Kurukshetra Alumni in
              February 2019 to provide State of the Art Tech Solution to Travel
              Industry. We have developed best in class solutions to grow
              revenue and profit to new heights for Travel Stakeholders.
            </dd>
          </dl>
          <dl>
            <dt class="text-lg leading-6 font-semibold">
              What type of support is available ?
            </dt>
            <dd class="mt-2 text-base leading-6 text-purple-300">
              A dedicated support team is available to answer any of your
              queries. We take support requests on high priority so you don't
              have to wait anytime. In addition, our highly trained support
              staff will make periodic site visits, at no cost to you.
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="relative min-h-screen text-white bg-gradient-to-b from-indigo-900 via-indigo-800 to-indigo-500 relative"
  id="contact-us"
>
  <div class="container px-4 mx-auto py-20">
    <div
      class="bg-indigo-200 text-gray-800 md:flex rounded-lg overflow-hidden shadow-xl"
    >
      <div class="py-12 px-4 md:px-8 lg:px-12 md:w-1/2">
        <h3 class="text-4xl lg:text-5xl font-bold mb-8">Contact Us</h3>
        <div class="mb-12">
          <p class="mb-2 text-lg font-medium">
            Please feel free to contact us for your queries.
          </p>
          <div>
            <a
              class="flex space-x-2 text-lg items-center w-full hover:opacity-90 font-medium my-4 text-indigo-900"
              href="tel:{{ meta.address.phoneCall }}"
            >
              <div
                class="w-8 h-8 inline-flex items-center justify-center rounded-full bg-indigo-500"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="w-4 h-4 text-indigo-200"
                >
                  <path
                    d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z"
                  />
                </svg>
              </div>
              <div class="flex-1 min-w-0 flex flex-wrap space-x-2">
                <span>
                  {{ meta.address.phoneDisplay }}
                </span>
                <span class="opacity-50">/</span>
                <object>
                  <a href="tel:{{ meta.address.secondaryPhoneCall }}">{{
                    meta.address.secondaryPhoneDisplay
                  }}</a>
                </object>
              </div>
            </a>
            <a
              class="flex space-x-2 text-lg items-center w-full hover:opacity-90 font-medium my-4 text-indigo-900"
              href="mailto:{{ meta.address.email }}"
            >
              <div
                class="w-8 h-8 inline-flex items-center justify-center rounded-full bg-indigo-500"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="w-4 h-4 text-indigo-200"
                >
                  <path
                    d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
                  />
                  <path
                    d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"
                  />
                </svg>
              </div>
              <div class="flex-1 min-w-0">
                {{ meta.address.email }}
              </div>
            </a>
          </div>
        </div>
        <div
          class="text-indigo-800 font-medium text-sm mb-1 uppercase tracking-wider space-x-2 flex items-center"
        >
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="w-8 h-8 text-indigo-500"
            >
              <path
                fill-rule="evenodd"
                d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z"
                clip-rule="evenodd"
              />
            </svg>
          </div>
          <div>Office Address</div>
        </div>
        <address class="not-italic">
          <h4 class="text-2xl mb-1">{{ meta.address.name }}</h4>
          <div class="text-gray-700 mb-8">
            <div>
              {{ meta.address.street }}, Near {{ meta.address.landmark }}
            </div>
            <div>
              {{ meta.address.city }}, {{ meta.address.state }},
              {{ meta.address.zip }}
            </div>
            <div>
              {{ meta.address.country }}
            </div>
          </div>
        </address>
      </div>
      <div class="p-4 md:p-8 lg:p-12 flex-1 bg-indigo-400">
        <form
          name="demo-request"
          data-netlify="true"
          netlify-honeypot="name"
          method="POST"
          action="/thank-you"
        >
          <!-- This is to prevent the spamming using honeypot -->
          <!-- https://docs.netlify.com/forms/spam-filters/#honeypot-field -->
          <div class="hidden">
            <!-- Give a sensible name to it -->
            <input
              name="name"
              type="text"
              placeholder="Don’t fill this out if you're human"
            />
          </div>
          <!-- bind the selected plan with "plan" scopped variable  -->
          <div class="hidden">
            <input name="plan" x-bind:value="plan" hidden />
          </div>
          <label class="block mb-8">
            <span class="text-indigo-100">Company Name</span>
            <input
              name="company_name"
              type="text"
              class="form-input mt-1 block w-full"
              placeholder="North-East Holidays"
              required
            />
          </label>
          <label class="block mb-8">
            <span class="text-indigo-100">Your Name</span>
            <input
              name="contact_person"
              type="text"
              class="form-input mt-1 block w-full"
              placeholder="Anand Singh"
              required
            />
          </label>
          <div class="grid gap-8 grid-cols-1 lg:grid-cols-2 mb-8">
            <label class="block">
              <span class="text-indigo-100">Contact Email</span>
              <input
                name="contact_email"
                type="email"
                class="form-input mt-1 block w-full"
                placeholder="username@mail.com"
                required
              />
            </label>
            <label class="block">
              <span class="text-indigo-100">Phone Number</span>
              <div class="flex flex-wrap items-stretch w-full relative mt-1">
                <div class="flex -mr-px">
                  <span
                    class="flex items-center leading-normal bg-indigo-300 rounded rounded-r-none border border-r-0 border-transparent px-3 whitespace-no-wrap text-grey-dark text-sm"
                    >+91</span
                  >
                </div>
                <input
                  name="contact_phone_number"
                  type="number"
                  class="form-input block rounded-l-none flex-1 w-auto min-w-0"
                  placeholder="9811342312"
                  required
                />
              </div>
            </label>
          </div>
          <label class="block mb-8">
            <span class="text-indigo-100"
              >More Information
              <span class="text-indigo-200 text-sm">(optional)</span></span
            >
            <div class="flex flex-wrap items-stretch w-full mb-4 relative mt-1">
              <textarea
                name="comments"
                class="form-input mt-1 block w-full"
                placeholder="Any more information about you and your company.."
              ></textarea>
            </div>
          </label>
          <div class="mt-8">
            <button
              href="#request_demo"
              type="submit"
              class="w-full flex items-center justify-center px-8 py-3 text-base leading-6 font-semibold rounded-md text-white bg-gradient-to-r from-indigo-500 to-indigo-600 hover:from-indigo-400 hover:to-indigo-500 focus:outline-none focus:ring-2 focus:shadow-outline-indigo transition duration-150 ease-in-out md:py-4 md:text-lg md:px-10 shadow"
            >
              Let's Talk
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
