---
layout: main
title: Software Solutions for Online Travel Management
sitemap:
  changefreq: weekly
  priority: 1.00
utmSource: landing_page
utmMedium: web
---

<section class="relative min-h-screen text-white bg-indigo-900" id="main">
  <div class="relative">
    <div class="container pt-8 pb-24 mx-auto relative px-4">
      <div class="space-y-16 md:flex md:space-y-0">
        <div class="flex-1 min-w-0">
          <div class="mt-16">
            <h2 class="text-4xl lg:text-5xl xl:text-6xl font-medium">
              Best-in-class Management and Growth solutions for Travel
              Businesses
            </h2>
            <p class="mt-8 max-w-xl tracking-wide">
              A software suite for Travel Businesses to grow sales, to ease
              hotel reservation and cab bookings, and to increase healthy cash
              flow.
            </p>
            <div class="mt-8">
              <a
                class="
                  inline-block
                  px-6
                  py-3
                  font-medium
                  text-lg
                  rounded-lg
                  bg-gradient-to-r
                  from-indigo-500
                  to-indigo-600
                  shadow-lg
                  hover:shadow-xl
                "
                href="#contact-us"
                >Contact Us for a Demo</a
              >
              <div class="mt-8 text-lg text-indigo-200 space-y-4">
                <a
                  href="tel:{{ meta.address.phoneCall }}"
                  class="flex items-center space-x-2"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    class="w-6 h-6 text-indigo-400"
                  >
                    <path
                      d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z"
                    />
                  </svg>
                  <span>
                    {{ meta.address.phoneDisplay }}
                  </span>
                  <span class="opacity-50">/</span>
                  <object>
                    <a
                      href="tel:{{ meta.address.secondaryPhoneCall }}"
                      class="flex items-center"
                    >
                      {{ meta.address.secondaryPhoneDisplay }}
                    </a>
                  </object>
                </a>
                <a
                  href="mailto:{{ meta.address.email }}"
                  class="flex items-center"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    class="w-6 h-6 mr-2 text-indigo-400"
                  >
                    <path
                      d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
                    />
                    <path
                      d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"
                    />
                  </svg>
                  {{ meta.address.email }}
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="hidden lg:block lg:w-1/3">
          <svg
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 1150 1150"
            class="w-full"
          >
            <g clip-path="url(#clip0)">
              <path
                opacity=".3"
                d="M149.089 843.7c-97.6-84.8-111.3-4-117.8-2.8 0 0-2.9 19.5 0 90.6l951.4 549.1v-386.4c-108.2-193.7-179.8-329-250.2-266.5-122 108.1-181.4 180.7-326.5 30.7-86-88.9-139.7 87.1-256.9-14.7z"
                fill="url(#hero_paint0_linear)"
              />
              <path
                d="M796.488 822.7c0-8-4.699-17.1-10.399-20.4-5.8-3.3-10.401.4-10.401 8.4s4.701 17.1 10.401 20.4c5.7 3.4 10.399-.4 10.399-8.4z"
                fill="#6366F1"
              />
              <path
                d="M520.588 876.5c0-7.7-4.8-16.7-10.8-20.1-6-3.4-10.8 0-10.8 7.7s4.8 16.7 10.8 20.1c5.9 3.4 10.8 0 10.8-7.7z"
                fill="#A5B4FC"
              />
              <path
                opacity=".07"
                d="M729.889 311l184.6 106.5v362.8l-184.6-106.5V311z"
                fill="#fff"
              />
              <path
                opacity=".3"
                d="M878.488 448.7l-184.6-106.5-.1 362.8 79.8 46 12.6 24.8 12.5-10.2 79.8 45.9V448.7z"
                fill="url(#hero_paint1_linear)"
              />
              <path
                opacity=".1"
                d="M854.288 561.8c0 11.6-1.7 22.2-4.9 31.1-3.2 8.9-7.9 15.9-13.8 20.7-5.9 4.8-13 7.2-20.7 7.2-7.7 0-16.1-2.5-24.4-7.4v-88.5l63.8 36.9z"
                fill="#fff"
              />
              <path
                opacity=".05"
                d="M605.2 691.591c-8.7-14.2-12.9-32.2-16.6-48-4.3-18.2-7.9-33.7-16.9-37.6-10.3-4.5-14.9 6.9-21.4 22.7-3.8 9.3-8.3 20.3-14.9 30.4-7.1-7.5-14.6-13.7-22.5-18.2-33.1-19.1-60.7-2.6-67.2 36.8-4.5-3.4-9-6.5-13.6-9.2-53.1-30.6-96.1 4.1-96.1 77.7 0 73.5 43 157.9 96 188.5 51.5 29.7 93.6-2.2 96-71.3 9.7 18 22.6 33.1 36.9 41.3 3.7 2.1 7.3 3.7 10.7 4.7 20.6 45.3 51.3 84.3 85.6 104.099 62 35.8 112.3-4.6 112.4-90.199 0-85.6-50.3-184.1-112.3-219.9-20.5-11.8-39.6-15.4-56.1-11.8z"
                fill="url(#hero_paint2_linear)"
              />
              <path
                opacity=".3"
                d="M790.489 613.5c-11.2-6.5-22.2-16.9-31.9-30.3-9.7-13.4-17.8-29.2-23.4-45.9-5.6-16.7-8.6-33.7-8.6-49.2s3-29.1 8.6-39.3l55.3 76.2v88.5z"
                fill="#fff"
              />
              <path
                d="M854.289 561.8c0-19.5-4.6-41.1-13.2-61.5s-20.6-38.4-34.1-51.3c-13.6-12.9-28-19.9-41-19.9s-23.8 6.9-30.9 19.7l55.3 76.2 63.9 36.8z"
                fill="#6366F1"
              />
              <path
                opacity=".15"
                d="M717.988 617.3l112.5 64.9v13.6l-112.5-64.9v-13.6zM717.988 643.9l136.4 78.7v13.6l-136.4-78.7v-13.6zM717.988 670.5l88.4 51v13.6l-88.4-51v-13.6z"
                fill="#fff"
              />
              <path
                opacity=".2"
                d="M982.8 856.445c6 3.4 10.8 11.8 10.8 18.7v30.5l20.2 11.6c6 3.4 10.8 11.8 10.8 18.8 0 6.9-4.8 9.7-10.8 6.3l-20.2-11.6v30.5c0 6.9-4.8 9.7-10.8 6.3-6-3.4-10.8-11.8-10.8-18.8v-30.5l-20.2-11.6c-6-3.4-10.8-11.8-10.8-18.7 0-6.9 4.8-9.7 10.8-6.3l20.2 11.6v-30.5c0-6.9 4.8-9.7 10.8-6.3z"
                fill="url(#hero_paint3_linear)"
              />
              <path
                d="M607.979 503.7c17.2 21.5 36.301 45.1 49.701 61.6 14.9-44.8-5.001-107.4-27.201-154.2-5.3 29.1-12.7 59.9-22.5 92.6z"
                fill="#A5B4FC"
              />
              <path
                d="M503.18 337.9c-22.1 21.2-41.9 60.8-27 122.7 13.4-1.1 32.4-2.6 49.6-4.2-9.8-44-17.2-83.3-22.6-118.5z"
                fill="#6366F1"
              />
              <path
                opacity=".2"
                d="M550.779 558.4c-123.6-474.6-21.9-514.9 16.5-531.1 38.4 60.6 140 218.2 16.3 550l-32.8-18.9z"
                fill="url(#hero_paint4_linear)"
              />
              <path
                opacity=".1"
                d="M587.18 531.1c-123.6-474.5-22-514.9 16.5-531.1 38.4 60.6 140 218.2 16.3 550l-32.8-18.9z"
                fill="url(#hero_paint5_linear)"
              />
              <path
                opacity=".15"
                d="M583.579 577.3c123.7-331.8 22.1-489.4-16.3-550v540.6l16.3 9.4z"
                fill="url(#hero_paint6_linear)"
              />
              <path
                opacity=".2"
                d="M381.8 822.6l-46.4-26.8v-15.7l46.4 26.8c3.8 2.2 9.3 6.6 14 13.4 5.1 7.3 8.7 16.5 8.7 26.5 0 11-2.8 17.3-8.2 19.1-5 1.7-10.9-1.2-14.6-3.3l-19.1-11-.1-.1c-1.6-1-4.2-1.9-6.3-1.3-1.7.5-3.6 2.2-3.6 8.3 0 6.1 1.9 9.9 3.5 12.1 2 2.8 4.6 4.8 6.2 5.6l.2.1 58.3 33.7v15.7l-58-33.5c-4-2.1-9.7-6.5-14.7-13.5-5.4-7.6-9.2-17.3-9.1-28.1 0-10.7 3.7-16.2 9.1-17.7 5-1.4 10.7.6 14.7 3.1l18.9 10.9c2.7 1.6 4.8 2.3 6.1 1.8 1-.3 3-1.8 3-9.8 0-5.1-1.7-8.5-3.2-10.8-1.8-2.6-4.3-4.6-5.8-5.5z"
                fill="#fff"
              />
              <path
                d="M345.4 791.9c0 12.9-7.6 19-16.9 13.7-9.3-5.4-16.9-20.2-16.9-33.2 0-12.9 7.6-19 16.9-13.7 9.3 5.4 16.9 20.3 16.9 33.2zM444.4 930.9c0 12.9-7.6 19-16.9 13.7-9.3-5.4-16.9-20.2-16.9-33.2 0-12.9 7.6-19 16.9-13.7 9.3 5.4 16.9 20.3 16.9 33.2z"
                fill="#6366F1"
              />
              <path
                opacity=".07"
                d="M524.2 815.6l299.9 173.1v158.7L524.2 974.3V815.6z"
                fill="url(#hero_paint7_linear)"
              />
              <path
                opacity=".3"
                d="M484.2 836.6l299.9 173.1v158.7L484.2 995.3V836.6z"
                fill="url(#hero_paint8_linear)"
              />
              <path
                d="M511.1 931.1c0 12.8 7.6 27.5 16.9 32.9 9.3 5.4 16.9-.6 16.9-13.4s-7.6-27.5-16.9-32.9c-9.3-5.4-16.9.6-16.9 13.4z"
                fill="#6366F1"
              />
              <path
                opacity=".15"
                d="M553.4 955.9c0 5.9 3.5 12.8 7.9 15.3 4.3 2.5 7.8-.3 7.8-6.2s-3.5-12.8-7.9-15.3c-4.3-2.5-7.8.2-7.8 6.2zM577.4 969.8c0 5.9 3.5 12.8 7.9 15.3 4.3 2.5 7.8-.3 7.8-6.2s-3.5-12.8-7.9-15.3c-4.3-2.6-7.8.2-7.8 6.2zM708.4 999.8v90.3l-11.8-6.8V993l11.8 6.8zM734.2 1014.8v90.3l-11.8-6.8V1008l11.8 6.8zM760.1 1029.8v90.3l-11.8-6.8V1023l11.8 6.8z"
                fill="#fff"
              />
              <path
                opacity=".3"
                d="M217.9 383.6l186.9 107.9v346.3l-186.9-108V383.6z"
                fill="url(#hero_paint9_linear)"
              />
              <path
                d="M333.3 509c0 17.3-10 25.5-22.3 18.3-12.3-7.2-22.3-27-22.3-44.3 0-17.3 10-25.5 22.3-18.3 12.3 7.2 22.3 27 22.3 44.3zM311 541.2c-19.9-11.6-36.3-.7-39.2 24.3-.5 4.3 2.8 10.1 6.8 12.4l64.9 37.9c4 2.3 7.3.5 6.8-4.5-3-28.5-19.5-58.5-39.3-70.1z"
                fill="#A5B4FC"
              />
              <path
                opacity=".15"
                d="M255.4 608.2l111.4 64.3v13.6l-111.4-64.3v-13.6zM266.7 641.7l88.3 50.9v13.6l-88.3-50.9v-13.6z"
                fill="#fff"
              />
              <path
                d="M289.2 698.9l-130-75.1v38.7l130 75.1v-38.7z"
                fill="#A5B4FC"
              />
            </g>
            <defs>
              <linearGradient
                id="hero_paint0_linear"
                x1="680.141"
                y1="610.587"
                x2="558.985"
                y2="995.541"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#fff" />
                <stop offset="1" stop-color="#fff" stop-opacity="0" />
              </linearGradient>
              <linearGradient
                id="hero_paint1_linear"
                x1="786.138"
                y1="402.902"
                x2="786.138"
                y2="851.257"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#fff" stop-opacity="0" />
                <stop offset="1" stop-color="#fff" />
              </linearGradient>
              <linearGradient
                id="hero_paint2_linear"
                x1="639.452"
                y1="690.81"
                x2="505.189"
                y2="923.423"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#fff" />
                <stop offset="1" stop-color="#fff" stop-opacity="0" />
              </linearGradient>
              <linearGradient
                id="hero_paint3_linear"
                x1="1003.71"
                y1="895.465"
                x2="951.348"
                y2="936.785"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#fff" />
                <stop offset="1" stop-color="#fff" stop-opacity="0" />
              </linearGradient>
              <linearGradient
                id="hero_paint4_linear"
                x1="711.374"
                y1="44.127"
                x2="400.523"
                y2="582.68"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#fff" />
                <stop offset="1" stop-color="#fff" stop-opacity="0" />
              </linearGradient>
              <linearGradient
                id="hero_paint5_linear"
                x1="747.765"
                y1="16.834"
                x2="436.914"
                y2="555.387"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#fff" />
                <stop offset="1" stop-color="#fff" stop-opacity="0" />
              </linearGradient>
              <linearGradient
                id="hero_paint6_linear"
                x1="653.406"
                y1="161.562"
                x2="413.443"
                y2="594.542"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#fff" stop-opacity="0" />
                <stop offset="1" stop-color="#fff" />
              </linearGradient>
              <linearGradient
                id="hero_paint7_linear"
                x1="668.048"
                y1="828.324"
                x2="679.222"
                y2="1109.04"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#fff" />
                <stop offset="1" stop-color="#fff" stop-opacity="0" />
              </linearGradient>
              <linearGradient
                id="hero_paint8_linear"
                x1="628.046"
                y1="849.324"
                x2="639.22"
                y2="1130.04"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#fff" />
                <stop offset="1" stop-color="#fff" stop-opacity="0" />
              </linearGradient>
              <linearGradient
                id="hero_paint9_linear"
                x1="424.831"
                y1="414.035"
                x2="258.92"
                y2="701.475"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#fff" />
                <stop offset="1" stop-color="#fff" stop-opacity="0" />
              </linearGradient>
              <clipPath id="clip0">
                <path fill="#fff" d="M0 0h1150v1150H0z" />
              </clipPath>
            </defs>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
<section
  class="relative min-h-screen text-white relative bg-indigo-900 py-8"
  id="benefits"
>
  <div>
    <ul>
      <li class="-mb-24 -mt-24 md:-mt-28 lg:-mt-32">
        <div class="absolute w-full h-full overflow-visible">
          <div
            class="relative bg-indigo-700 w-full h-full top-0 left-0"
            style="transform-origin: 100% 0; transform: skewY(-4deg)"
          ></div>
        </div>
        <div class="py-32 md:py-48 lg:py-64 container px-4 mx-auto relative">
          <section>
            <header class="mb-8">
              <h4 class="text-lg font-medium text-blue-300 mb-8 tracking-wider">
                Unified Platform
              </h4>
              <h2 class="text-4xl mb-8 font-bold">
                A fully integrated suite for travel businesses
              </h2>
            </header>
            <div class="text-indigo-100 text-lg">
              <div
                class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-8 lg:gap-12"
              >
                <div>
                  <p class="max-w-lg">
                    We bring together everything that is required to manage and
                    grow travel businesses. Sembark's solutions power sales,
                    operations, reservation, accounting, and everything in
                    between.
                  </p>
                </div>
                <div>
                  <p class="max-w-lg">
                    We also help companies setup their commercial website, run
                    marketing campaign, and much more.
                  </p>
                </div>
              </div>
            </div>
            <footer class="mt-6">
              <a
                href="{{ meta.accountRegistrationUrl }}?utm_source={{
                  utmSource
                }}&utm_medium={{
                  utmMedium
                }}&utm_campaign=internal_connect&utm_content=unified_platform"
                class="
                  bg-indigo-200
                  shadow
                  transition
                  hover:bg-indigo-100
                  hover:shadow-lg
                  text-indigo-900
                  inline-flex
                  space-x-4
                  items-center
                  rounded-lg
                  px-4
                  py-2
                  font-medium
                  duration-300
                "
                ><span>Start Now</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="w-4 h-4"
                >
                  <path
                    fill-rule="evenodd"
                    d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
              </a>
            </footer>
          </section>
        </div>
      </li>
      <li class="relative -mb-24">
        <div class="absolute w-full h-full overflow-visible">
          <div
            class="relative bg-indigo-50 w-full h-full top-0 left-0"
            style="transform-origin: 100% 0; transform: skewY(-4deg)"
          ></div>
        </div>
        <div
          class="
            py-32
            md:py-48
            lg:py-64
            container
            px-4
            mx-auto
            relative
            text-gray-900
          "
        >
          <section>
            <header>
              <h4
                class="text-lg font-medium text-purple-800 mb-8 tracking-wider"
              >
                Designed for Travel Businesses
              </h4>
              <h2 class="text-4xl mb-8 font-bold">
                The world's most powerful and easy-to-use solutions
              </h2>
            </header>
            <div class="max-w-2xl text-gray-700 text-lg">
              <p>
                We agonize over the work-flow simplification and connectivity so
                your teams don't need to stitch together disparate systems or
                spend too much time on system management.
              </p>
            </div>
            <footer class="mt-6">
              <a
                href="{{ meta.docsUrl }}?utm_source={{
                  utmSource
                }}&utm_medium={{
                  utmMedium
                }}&utm_campaign=internal_connect&utm_content=ease_of_use_read_the_docs"
                class="
                  bg-indigo-500
                  shadow
                  transition
                  hover:bg-indigo-600
                  hover:shadow-lg
                  text-indigo-100
                  inline-flex
                  space-x-4
                  items-center
                  rounded-lg
                  px-4
                  py-2
                  font-medium
                  duration-300
                "
                ><span>Read the Docs</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-5 w-5"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    fill-rule="evenodd"
                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                    clip-rule="evenodd"
                  />
                </svg>
              </a>
            </footer>
          </section>
          <section class="mt-16">
            <ul
              class="
                grid grid-cols-1
                sm:grid-cols-2
                lg:grid-cols-3
                gap-4
                sm:gap-8
                lg:gap-12
              "
            >
              <li class="p-8 bg-indigo-100 rounded-lg">
                <section class="flex flex-col h-full">
                  <header class="mb-4">
                    <h2 class="font-medium">Prebuilt Data Sheets</h2>
                  </header>
                  <div class="text-gray-600 text-sm flex-1">
                    <p>
                      Use our initial data of Hotels, Transportation,
                      Itineraries to seed your business.
                    </p>
                  </div>
                  <footer class="mt-4">
                    <a
                      href="{{ meta.accountRegistrationUrl }}?utm_source={{
                        utmSource
                      }}&utm_medium={{
                        utmMedium
                      }}&utm_campaign=internal_connect&utm_content=prebuilt_data"
                      class="
                        inline-flex
                        space-x-2
                        items-center
                        text-indigo-600
                        font-medium
                      "
                    >
                      <span>Start Now</span>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-5 w-5"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                          clip-rule="evenodd"
                        />
                      </svg>
                    </a>
                  </footer>
                </section>
              </li>
              <li class="p-8 bg-indigo-100 rounded-lg">
                <section class="flex flex-col h-full">
                  <header class="mb-4">
                    <h2 class="font-medium">Training for Everyone</h2>
                  </header>
                  <div class="text-gray-600 text-sm flex-1">
                    <p>
                      We offer training to all members of Sales, Reservations
                      and Accounting teams.
                    </p>
                  </div>
                  <footer class="mt-4">
                    <a
                      href="https://docs.sembark.com?utm_source=sembark_site&utm_medium=web&utm_campaign=internal_connect&utm_content=training_for_everyone"
                      class="
                        inline-flex
                        space-x-2
                        items-center
                        text-indigo-600
                        font-medium
                      "
                    >
                      <span>Learn More</span>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-5 w-5"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                          clip-rule="evenodd"
                        />
                      </svg>
                    </a>
                  </footer>
                </section>
              </li>
              <li class="p-8 bg-indigo-100 rounded-lg">
                <section class="flex flex-col h-full">
                  <header class="mb-4">
                    <h2 class="font-medium">Easy Data Migration</h2>
                  </header>
                  <div class="text-gray-600 text-sm flex-1">
                    <p>
                      Your data from anywhere can be easily migrated to Sembark
                      with the help of Data Imports.
                    </p>
                  </div>
                  <footer class="mt-4">
                    <a
                      href="{{ meta.accountRegistrationUrl }}?utm_source={{
                        utmSource
                      }}&utm_medium={{
                        utmMedium
                      }}&utm_campaign=internal_connect&utm_content=easy_data_migration"
                      class="
                        inline-flex
                        space-x-2
                        items-center
                        text-indigo-600
                        font-medium
                      "
                    >
                      <span>Start Now</span>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-5 w-5"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                          clip-rule="evenodd"
                        />
                      </svg>
                    </a>
                  </footer>
                </section>
              </li>
            </ul>
          </section>
        </div>
      </li>
      <li class="-mb-24 md:-mb-32 relative">
        <div class="absolute w-full h-full overflow-visible">
          <div
            class="relative bg-purple-800 w-full h-full top-0 left-0"
            style="transform-origin: 100% 0; transform: skewY(-4deg)"
          ></div>
        </div>
        <div class="py-32 md:py-48 lg:py-64 container px-4 mx-auto relative">
          <section>
            <header class="mb-12">
              <h4
                class="text-lg font-medium text-purple-200 mb-8 tracking-wider"
              >
                Why Sembark
              </h4>
              <h2 class="text-4xl font-bold">
                A technology-first approach to travel business connectivity
              </h2>
            </header>
            <div>
              <ul class="grid sm:grid-cols-2 lg:grid-cols-3 gap-12">
                <li class="border-l-2 border-purple-900 pl-4">
                  <section>
                    <header>
                      <h2 class="mb-4 font-medium">Industry Mind Backed</h2>
                    </header>
                    <div class="text-purple-200">
                      <p>
                        Sembark solutions are built by Intelligent Travel
                        Business minds so we have a solid understanding of all
                        business pain points.
                      </p>
                    </div>
                  </section>
                </li>
                <li class="border-l-2 border-purple-900 pl-4">
                  <section>
                    <header>
                      <h2 class="mb-4 font-medium">
                        Fastest-improving platform
                      </h2>
                    </header>
                    <div class="text-purple-200">
                      <p>
                        We release
                        <span class="text-purple-50 font-medium"
                          >hundreds of features</span
                        >
                        and improvements each year to help you stay ahead of
                        industry shifts.
                      </p>
                    </div>
                  </section>
                </li>
                <li class="border-l-2 border-purple-900 pl-4">
                  <section>
                    <header>
                      <h2 class="mb-4 font-medium">
                        Intelligent Optimizations
                      </h2>
                    </header>
                    <div class="text-purple-200">
                      <p>
                        We regularly analyze customer feedbacks and thousands of
                        data points to make our system more intelligent in
                        increasing conversion, revenue recovery, and more.
                      </p>
                    </div>
                  </section>
                </li>
                <li class="border-l-2 border-purple-900 pl-4">
                  <section>
                    <header>
                      <h2 class="mb-4 font-medium">
                        Battle-tested reliability
                      </h2>
                    </header>
                    <div class="text-purple-200">
                      <p>
                        Our systems operate with
                        <a
                          href="https://sembark.statuspage.io/"
                          class="text-purple-50 underline font-medium"
                          >99.9%+</a
                        >
                        uptime and are highly scalable and redundant and we are
                        continuously monitoring for any issues.
                      </p>
                    </div>
                  </section>
                </li>
              </ul>
            </div>
          </section>
        </div>
      </li>
    </ul>
  </div>
</section>
<section class="relative text-gray-900 bg-white relative" id="benefits">
  <div class="container px-4 mx-auto py-24 lg:py-48">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
      <div class="sm:col-span-2">
        <section>
          <header class="mb-8">
            <h2 class="text-3xl font-bold">Ready to get started?</h2>
          </header>
          <div class="max-w-2xl text-gray-600">
            <p class="text-lg">
              Explore
              <a
                href="{{ meta.travelProductUrl }}?utm_source={{
                  utmSource
                }}&utm_medium={{
                  utmMedium
                }}&utm_campaign=internal_connect&utm_content=ready_to_get_started"
                class="text-indigo-600 font-medium"
                >Sembark Solutions</a
              >, or create an account instantly and start accepting payments.
              You can also contact us to design a custom package for your
              business.
            </p>
          </div>
          <footer class="mt-8">
            <nav class="flex space-x-4 items-center font-medium text-sm">
              <a
                href="{{ meta.accountRegistrationUrl }}?utm_source={{
                  utmSource
                }}&utm_medium={{
                  utmMedium
                }}&utm_campaign=internal_connect&utm_content=ready_to_get_started"
                class="
                  inline-flex
                  space-x-2
                  items-center
                  bg-indigo-500
                  hover:bg-indigo-600
                  text-white
                  rounded-lg
                  transition
                  px-4
                  py-2
                "
                ><span>Start Now</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-5 w-5"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    fill-rule="evenodd"
                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                    clip-rule="evenodd"
                  />
                </svg>
              </a>
              <a
                href="#contact-us"
                class="
                  inline-flex
                  space-x-2
                  items-center
                  text-indigo-600
                  transition
                  hover:bg-indigo-50
                  rounded-lg
                  px-4
                  py-2
                "
                ><span>Contact Sales</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-5 w-5"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    fill-rule="evenodd"
                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                    clip-rule="evenodd"
                  />
                </svg>
              </a>
            </nav>
          </footer>
        </section>
      </div>
      <div>
        <section class="mt-8 pl-4">
          <header class="mb-2 -ml-4 pl-4 border-l-2 border-indigo-500">
            <h2 class="font-medium">Always know what you pay</h2>
          </header>
          <div class="text-gray-600 text-sm">
            <p>
              Checkout monthly estimates ahead of time to know the billing
              amount.
            </p>
          </div>
          <footer class="mt-4">
            <a
              href="{{
                meta.travelProductUrl
              }}?utm_source=sembark_site&utm_medium=web&utm_campaign=internal_connect&utm_content=ready_to_get_started#pricing"
              class="text-indigo-600 font-medium text-sm inline-flex space-x-2"
              ><span>Pricing Details</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd"
                />
              </svg>
            </a>
          </footer>
        </section>
      </div>
      <div>
        <section class="mt-8 pl-4">
          <header class="mb-2 -ml-4 pl-4 border-l-2 border-indigo-500">
            <h2 class="font-medium">Start your migration</h2>
          </header>
          <div class="text-gray-600 text-sm">
            <p>Get up and running with Sembark in as little as 10 minutes.</p>
          </div>
          <footer class="mt-4">
            <a
              href="#contact-us"
              class="text-indigo-600 font-medium text-sm inline-flex space-x-2"
              ><span>Contact Us</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd"
                />
              </svg>
            </a>
          </footer>
        </section>
      </div>
    </div>
  </div>
</section>
<section
  class="relative min-h-screen text-white bg-indigo-200 relative"
  id="contact-us"
>
  <div class="container px-4 mx-auto py-20">
    <div class="text-gray-800 md:flex items-center">
      <div class="py-12 px-4 md:px-8 lg:px-12 md:w-1/2">
        <h3 class="text-4xl lg:text-5xl font-bold mb-8">Contact Us</h3>
        <div class="mb-12">
          <p class="mb-2 text-lg font-medium">
            Please feel free to contact us for your queries.
          </p>
          <div>
            <a
              class="
                flex
                space-x-2
                text-lg
                items-center
                w-full
                hover:opacity-90
                font-medium
                my-4
                text-indigo-900
              "
              href="tel:{{ meta.address.phoneCall }}"
            >
              <div
                class="
                  w-8
                  h-8
                  inline-flex
                  items-center
                  justify-center
                  rounded-full
                  bg-indigo-500
                "
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="w-4 h-4 text-indigo-200"
                >
                  <path
                    d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z"
                  />
                </svg>
              </div>
              <div class="flex-1 min-w-0 flex flex-wrap space-x-2">
                <span>
                  {{ meta.address.phoneDisplay }}
                </span>
                <span class="opacity-50">/</span>
                <object>
                  <a href="tel:{{ meta.address.secondaryPhoneCall }}">{{
                    meta.address.secondaryPhoneDisplay
                  }}</a>
                </object>
              </div>
            </a>
            <a
              class="
                flex
                space-x-2
                text-lg
                items-center
                w-full
                hover:opacity-90
                font-medium
                my-4
                text-indigo-900
              "
              href="mailto:{{ meta.address.email }}"
            >
              <div
                class="
                  w-8
                  h-8
                  inline-flex
                  items-center
                  justify-center
                  rounded-full
                  bg-indigo-500
                "
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="w-4 h-4 text-indigo-200"
                >
                  <path
                    d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
                  />
                  <path
                    d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"
                  />
                </svg>
              </div>
              <div class="flex-1 min-w-0">
                {{ meta.address.email }}
              </div>
            </a>
          </div>
        </div>
        <div
          class="
            text-indigo-800
            font-medium
            text-sm
            mb-1
            uppercase
            tracking-wider
            space-x-2
            flex
            items-center
          "
        >
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="w-8 h-8 text-indigo-500"
            >
              <path
                fill-rule="evenodd"
                d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z"
                clip-rule="evenodd"
              />
            </svg>
          </div>
          <div>Office Address</div>
        </div>
        <address class="not-italic">
          <h4 class="text-2xl mb-1">{{ meta.address.name }}</h4>
          <div class="text-gray-700 mb-8">
            <div>
              {{ meta.address.street }}, Near {{ meta.address.landmark }}
            </div>
            <div>
              {{ meta.address.city }}, {{ meta.address.state }},
              {{ meta.address.zip }}
            </div>
            <div>
              {{ meta.address.country }}
            </div>
          </div>
        </address>
      </div>
      <div class="relative">
        <div class="absolute w-full h-full overflow-visible">
          <div
            class="relative bg-indigo-900 w-full h-full top-0 left-0 rounded-lg"
            style="transform-origin: center center; transform: skewY(-4deg)"
          ></div>
        </div>
        <div class="p-4 py-24 md:px-8 lg:px-12 flex-1 relative">
          <form
            name="demo-request"
            data-netlify="true"
            netlify-honeypot="name"
            method="POST"
            action="/thank-you"
          >
            <!-- This is to prevent the spamming using honeypot -->
            <!-- https://docs.netlify.com/forms/spam-filters/#honeypot-field -->
            <div class="hidden">
              <!-- Give a sensible name to it -->
              <input
                name="name"
                type="text"
                placeholder="Don’t fill this out if you're human"
              />
            </div>
            <!-- bind the selected plan with "plan" scopped variable  -->
            <div class="hidden">
              <input name="plan" x-bind:value="plan" hidden />
            </div>
            <label class="block mb-8">
              <span class="text-indigo-100">Company Name</span>
              <input
                name="company_name"
                type="text"
                class="form-input mt-1 block w-full"
                placeholder="North-East Holidays"
                required
              />
            </label>
            <label class="block mb-8">
              <span class="text-indigo-100">Your Name</span>
              <input
                name="contact_person"
                type="text"
                class="form-input mt-1 block w-full"
                placeholder="Anand Singh"
                required
              />
            </label>
            <div class="grid gap-8 grid-cols-1 lg:grid-cols-2 mb-8">
              <label class="block">
                <span class="text-indigo-100">Contact Email</span>
                <input
                  name="contact_email"
                  type="email"
                  class="form-input mt-1 block w-full"
                  placeholder="username@mail.com"
                  required
                />
              </label>
              <label class="block">
                <span class="text-indigo-100">Phone Number</span>
                <div class="flex flex-wrap items-stretch w-full relative mt-1">
                  <div class="flex -mr-px">
                    <span
                      class="
                        flex
                        items-center
                        leading-normal
                        bg-indigo-300
                        rounded rounded-r-none
                        border border-r-0 border-transparent
                        px-3
                        whitespace-no-wrap
                        text-grey-dark text-sm
                      "
                      >+91</span
                    >
                  </div>
                  <input
                    name="contact_phone_number"
                    type="number"
                    class="
                      form-input
                      block
                      rounded-l-none
                      flex-1
                      w-auto
                      min-w-0
                    "
                    placeholder="9811342312"
                    required
                  />
                </div>
              </label>
            </div>
            <label class="block mb-8">
              <span class="text-indigo-100"
                >More Information
                <span class="text-indigo-200 text-sm">(optional)</span></span
              >
              <div
                class="flex flex-wrap items-stretch w-full mb-4 relative mt-1"
              >
                <textarea
                  name="comments"
                  class="form-input mt-1 block w-full"
                  placeholder="Any more information about you and your company.."
                ></textarea>
              </div>
            </label>
            <div class="mt-8">
              <button
                href="#request_demo"
                type="submit"
                class="
                  w-full
                  flex
                  items-center
                  justify-center
                  px-8
                  py-3
                  text-base
                  leading-6
                  font-semibold
                  rounded-md
                  text-white
                  bg-gradient-to-r
                  from-indigo-500
                  to-indigo-600
                  hover:from-indigo-400
                  hover:to-indigo-500
                  focus:outline-none
                  focus:ring-2
                  focus:shadow-outline-indigo
                  transition
                  duration-150
                  ease-in-out
                  md:py-4
                  md:text-lg
                  md:px-10
                  shadow
                "
              >
                Let's Talk
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
